<a href="https://colab.research.google.com/github/nabinyd/python/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Parameter in print() function

**objects (positional argument):**
* Represents the values or objects to be printed. You can pass multiple objects separated by commas, and print() will automatically insert spaces between them.
```
print("Hello", "world!")  # Output: Hello world!
```

s**ep (keyword argument, default is a single space ' '):**

* Specifies the separator between the objects. You can change it to any string or character.
```
print("Hello", "world!", sep=", ")  # Output: Hello, world!
```

**end (keyword argument, default is a newline '\n'):**
* Specifies the string to be appended at the end of the printed output. By default, it adds a newline after printing.

```
print("Hello", end=" ")
print("world!")  # Output: Hello world! (without newline)
```


**file (keyword argument, default is sys.stdout):**
* Specifies the file object where the output should be sent. By default, it prints to the standard output (console).

```
with open("output.txt", "w") as f:
    print("Hello world!", file=f)  # Output: Writes to output.txt instead of console

**flush (keyword argument, default is False):**
* Specifies whether the output buffer should be flushed immediately. When flush=True, it forces the output to be written immediately.

```
print("Hello", flush=True)  # Output: Prints "Hello" immediately without waiting
```

**Example with All Parameters:**
```
print("Hello", "world", sep=", ", end="!", file=sys.stdout, flush=False)
```

In [ ]:
print("Hello", "world", sep=", ", end="!", flush=False)

Hello, world!

In [ ]:
str = "Nabin Yadav"
print(str[1:-2])

abin Yad



**The syntax str[1:3:4] in Python is used for slicing strings. Let's break down each part:

str: This refers to the string you want to slice.
[1:3:4]: This is the slicing syntax.
Here's what each part inside the square brackets means:

 Start Index (1): This specifies the index from where the slicing will start. In Python, indexing starts from 0. So, str[1] refers to the second character of the string.
 End Index (3): This specifies the index where the slicing will end.

 However, note that the slicing stops before the end index. So, str[3] is not included in the sliced string.
Step (4): This specifies the step size, which determines how many characters to skip between each character that is included in the sliced string.**

In [ ]:
print(str[1:3:4])

a

In [ ]:
str1 = "nabin"
str2 = "yadav"
print(str1)
print(str2)
print(str1 +' '+ str2)
print(str1*3)
print(str1+ " " + str2 *3)

nabin
yadav
nabin yadav
nabinnabinnabin
nabin yadavyadavyadav

In [ ]:
#Iteration through string
letter_count =0
for letters in str1:
  print(letters)
  letter_count +=1
print(letter_count)

n
a
b
i
n
5

In [ ]:
#string membership
print('y' in str1)
print('y' in str1+ str2)
print('n'in str1)
print('a' not in str1)

False
True
True
False

In [ ]:
# The code en = list(enumerate(str1)) creates a list of tuples where each tuple contains the index and character of each element in the string str1. Here's a breakdown:

# enumerate(str1): This function pairs each element of str1 with its index, starting from 0. It returns an iterator of tuples, where each tuple contains an index and the corresponding character from str1.
# list(...): Converts the iterator returned by enumerate into a list.

en=list(enumerate(str1))
print(en)

[(0, 'n'), (1, 'a'), (2, 'b'), (3, 'i'), (4, 'n')]

In [ ]:
print(len(str1))

5

In [ ]:
print('''using triple quotes''')
print('escaping single quote\'s')
print("tell me 'what\'s your name?'")

using triple quotes
escaping single quote's
tell me 'what's your name?'

***Format method in string***

In [ ]:
default_order = "{} {} {}".format("name","age","roll")
print(default_order)

#positional argiments
name = "nabin"
lastname = "yadav"
positional_argument = "My name is {} {}".format(name,lastname)
print(positional_argument)

name age roll
My name is nabin yadav

**Named argument**

In [ ]:
named_argument = "My name is {firstname} {lastname}".format(firstname='nabin',lastname = "yadav")
print(named_argument)

My name is nabin yadav

##**Format Specifiers:**
###You can apply formatting options to the placeholders to control how the values are displayed:

* {:.2f}: Format as a floating-point number with 2 decimal places.
* {:<10}: Left-align text within a 10-character space.
* {:^10}: Center-align text within a 10-character space.
* {:>10}: Right-align text within a 10-character space.

**{:.2f}: Format as a floating-point number with 2 decimal places.**

In [ ]:
pi = 3.14159
formatted_pi = "Pi value: {:.2f}".format(pi)
print(formatted_pi)

Pi value: 3.14

**{:<20}: Left-align text within a 10-character space**

In [ ]:
text = "left-aligned"
print(text)
formatted_text = "{:<20}".format(text)
print('|'+formatted_text+'|')

left-aligned
|left-aligned        |

**{:^20}: centered-align text within a 10-character space**

In [ ]:
text = "centered-aligned"
print(text)
formatted_text = "{:^20}".format(text)
print('|'+formatted_text+'|')

centered-aligned
|  centered-aligned  |

**{:>20}: Right-align text within a 10-character space.**

In [ ]:
text = "right-aligned"
print(text)
formatted_text = "{:>20}".format(text)
print('|'+formatted_text+'|')

right-aligned
|       right-aligned|

##**Binary Integer Formatting:**
To format an integer into its binary representation, you can use the b format specifier. For example:

In [ ]:
num = 10
binary_num = "{:b}".format(num)
print(binary_num)

1010

##**Exponential representation**

In [ ]:
print("{0:e}".format(1.52354))

1.523540e+00

##**Binary Floating-Point Formatting:**

In [ ]:
num = 3.5
binary_num = "{:b}".format(int(num))  # Convert to integer first
print(binary_num)

11

##**Binary Prefixes and Padding:**
* In this case, # adds the prefix 0b to indicate a binary number, and 010 specifies padding the binary representation with zeros to a total width of 10 characters.

In [ ]:
num = 10
binary_num = "{:#010b}".format(num)  # Pad with zeros and add '0b' prefix
print(binary_num)  # Output: '0b00001010'

0b00001010

##**Using f-Strings for Binary Formatting (Python 3.6+):**

In [ ]:
num = 10
binary_num = f"{num:#010b}"  # Using f-string with padding and prefix
print(binary_num)

0b00001010

##**Binary Representation of Other Data Types:**
You can apply binary formatting to other data types as well, such as bytes and bytearray objects:

In [ ]:
data = b'Hello'
binary_data = "{:08b}".format(int.from_bytes(data, byteorder='big'))
print("Output = " + binary_data)

Output = 100100001100101011011000110110001101111

#**String Method in Python**

---
Here's a list of commonly used string methods in Python:

##Conversion Methods:
* upper(): Converts a string to uppercase.
* lower(): Converts a string to lowercase.
* capitalize(): Capitalizes the first character of a string.
* title(): Converts the first character of each word to uppercase.


##Trimming and Padding:
* strip(): Removes leading and trailing whitespace.
* lstrip(): Removes leading whitespace.
* rstrip(): Removes trailing whitespace.
* center(width, fillchar): Centers the string in a specified width with optional padding characters.
* ljust(width, fillchar): Left-justifies the string in a specified width with optional padding characters.
* rjust(width, fillchar): Right-justifies the string in a specified width with optional padding characters.

##Search and Replace:
* find(substring, start, end): Searches for a substring and returns its first * occurrence index (or -1 if not found).
* rfind(substring, start, end): Searches for a substring from the end of the
 string and returns its index.
* index(substring, start, end): Similar to find() but raises an error if the
 substring is not found.
* replace(old, new, count): Replaces occurrences of a substring with another
 substring.

##Splitting and Joining:
* split(sep, maxsplit): Splits a string into a list of substrings based on a separator.
* rsplit(sep, maxsplit): Splits a string from the right.
* join(iterable): Concatenates elements of an iterable (like a list) into a
  string using the string as a separator.

##Checking and Validation:
* startswith(prefix, start, end): Checks if a string starts with a specified prefix.
*endswith(suffix, start, end): Checks if a string ends with a specified suffix.
*isalnum(): Checks if all characters are alphanumeric.
*isalpha(): Checks if all characters are alphabetic.
*isdigit(): Checks if all characters are digits.
*islower(): Checks if all characters are lowercase.
*isupper(): Checks if all characters are uppercase.
*isspace(): Checks if all characters are whitespace.

##Formatting:
* format(*args, **kwargs): Formats a string with positional and keyword arguments.
*format_map(mapping): Formats a string using a mapping (like a dictionary).

##Encoding and Decoding:
* encode(encoding, errors): Encodes the string into bytes using a specified encoding.
* decode(encoding, errors): Decodes bytes into a string using a specified encoding.

##Miscellaneous:
* len(): Returns the length of the string.
* count(substring, start, end): Counts occurrences of a substring.
* expandtabs(tabsize): Expands tabs to spaces.
* swapcase(): Swaps case of characters (lowercase to uppercase and vice versa).
* partition(separator): Splits the string into three parts based on a separator.

##**upper() and lower():**

In [ ]:
text = "Hello World"
upper_text = text.upper()
lower_text = text.lower()

print(upper_text)
print(lower_text)

HELLO WORLD
hello world

##**capitalize() and title():**

In [ ]:
text = "hello world"
capitalized_text = text.capitalize()
title_text = text.title()

print(capitalized_text)
print(title_text)

Hello world
Hello World

##**strip(), lstrip(), and rstrip():**

In [ ]:
text = "   Hello World   "
stripped_text = text.strip()
left_stripped_text = text.lstrip()
right_stripped_text = text.rstrip()

print(stripped_text)
print(left_stripped_text)
print(right_stripped_text)

Hello World
Hello World
   Hello World

##**center(width, fillchar), ljust(width, fillchar), and rjust(width, fillchar):**

In [ ]:
text = "Python"
centered_text = text.center(10, '*')
left_justified_text = text.ljust(10, '-')
right_justified_text = text.rjust(10, '+')

print(centered_text)         # Output: "**Python**"
print(left_justified_text)    # Output: "Python----"
print(right_justified_text)   # Output: "++++Python"

**Python**
Python----
++++Python

##**find(substring, start, end) and index(substring, start, end):**

In [ ]:
text = "Hello World"
index_of_o = text.find("o")
index_of_z = text.find("z")  # Not found, returns -1

print(index_of_o)  # Output: 4
print(index_of_z)  # Output: -1

try:
    index_of_z_error = text.index("z")
except ValueError as e:
    print("Error:", e)  # Output: Error: substring not found

4
-1
Error: substring not found

##**replace(old, new, count):**

In [ ]:
text = "Hello World"
print(text)
new_text = text.replace("World", "Python")

print(new_text)  # Output: "Hello Python"

Hello World
Hello Python

##**split(sep, maxsplit):**

In [ ]:
text = "apple,banana,orange"
fruits_list = text.split(",")

print(fruits_list)  # Output: ['apple', 'banana', 'orange']

['apple', 'banana', 'orange']

In [ ]:
text = "apple,banana,orange,grapes"
fruits_list = text.split(",", maxsplit=2)

print(fruits_list)  # Output: ['apple', 'banana', 'orange,grapes']

['apple', 'banana', 'orange,grapes']

##**join(iterable):**

In [ ]:
fruits_list = ['apple', 'banana', 'orange']
text = ", ".join(fruits_list)

print(text)  # Output: "apple, banana, orange"

apple, banana, orange

You can use join() to concatenate elements with a custom separator:

In [ ]:
fruits_list = ['apple', 'banana', 'orange']
text = " - ".join(fruits_list)

print(text)  # Output: "apple - banana - orange"

apple - banana - orange

#DataType conversion

###**Implicit type conversion**

In [ ]:
num_int = 10
num_float = 5.2356

num_new = num_int + num_float

print("num_int",type(num_int))
print("num_float",type(num_float))

print("new_num = ",  num_new)
print("num_new_type",type(num_new))

num_int <class 'int'>
num_float <class 'float'>
new_num =  15.2356
num_new_type <class 'float'>

###**Explicit Type Connversion**



1. int(), float(), str(), bool():
* int(x): Converts x to an integer.
* float(x): Converts x to a floating-point number.
* str(x): Converts x to a string.
* bool(x): Converts x to a boolean value (True or False).
```
num_str = "123"
num_int = int(num_str)  # Convert string to integer
print(num_int)  # Output: 123
```

2. Type-specific constructors:
* list(iterable): Converts an iterable (like a tuple or string) to a list.
```
my_tuple = (1, 2, 3)
my_list = list(my_tuple)
print(my_list)  # Output: [1, 2, 3]
```
* tuple(iterable): Converts an iterable to a tuple.
```
my_list = [1, 2, 3]
my_tuple = tuple(my_list)
print(my_tuple)  # Output: (1, 2, 3)
```
* set(iterable): Converts an iterable to a set.
```
my_list = [1, 2, 2, 3]
my_set = set(my_list)
print(my_set)  # Output: {1, 2, 3}
```

* dict(iterable): Converts an iterable of key-value pairs to a dictionary.
```
key_value_pairs = [("a", 1), ("b", 2)]
my_dict = dict(key_value_pairs)
print(my_dict)  # Output: {'a': 1, 'b': 2}
```



3. Custom functions or methods:
* You can also define custom functions or methods to perform more complex type conversions based on your specific needs.

In [ ]:
def string_to_int(s):
    try:
        return int(s)
    except ValueError:
        return None

#num_str = "abc"  output: none
num_str = "122"
num_int = string_to_int(num_str)

print(num_int)  # Output: 123

122

#**Python Numbers**


*   isinstance()
*   type()
*   issubclass()

#####The isinstance() function in Python is used to check if an object belongs to a specified class or type. It helps in determining the type of an object and can be used to perform type checking within functions or code blocks.

**Syntax:**
```
isinstance(object, classinfo)
```


*   object: The object whose type is to be checked.
* classinfo: A class, type, or tuple of classes and types to check against.

In [ ]:
value1 =100
print(isinstance(value1,int))
print(isinstance(value1,float))

True
False

**Representing binary, hexadecimal and octal**

In [ ]:
print(0b110)
print(0x510)
print(0o23)

6
1296
19

**Python decimal**

In [ ]:
data1 = 0.1 + 0.2
print(data1)
data2 = 0.1 * 0.2
print(data2)
from decimal import Decimal as D
print(D('0.1')+D('0.2'))
print(D('0.1')*D('0.2'))

0.30000000000000004
0.020000000000000004
0.3
0.02

In [ ]:
from fractions import Fraction as F
print(F(0.5))
print(F(5))
print(F(1,5))

1/2
5
1/5

###**Using isinstance() in Functions:**

In [ ]:
def calculate(value):
    if isinstance(value, int):
        return value * 2
    elif isinstance(value, float):
        return value * 1.5
    else:
        return "Invalid input type"

print(calculate(10))  # Output: 20
print(calculate(3.5))  # Output: 5.25
print(calculate("abc"))  # Output: "Invalid input type"

20
5.25
Invalid input type

###**type() Function:**
* The type() function returns the type of an object.

In [ ]:
x = 5
print(type(x) == int)  # Output: True
print(type(x) == float)  # Output: False

True
False

###**issubclass() Function:**
* The issubclass() function checks if a class is a subclass of another class.

In [ ]:
class A:
    pass

class B(A):
    pass

print(issubclass(B, A))  # Output: True
print(issubclass(A, B))  # Output: False

True
False

##**Python Math Module**

**Constants:**
* math.pi:
Represents the mathematical constant π (pi), approximately equal to 3.14159.

* math.e:
Represents the mathematical constant e, the base of natural logarithms, approximately equal to 2.71828.

* math.inf:
Represents positive infinity.

* math.nan:
Represents "Not a Number" (NaN), used to represent undefined or unrepresentable results.

In [ ]:
import math

In [ ]:
print("Value of π (pi):", math.pi)
print("Value of e:", math.e)
print("Positive infinity:", math.inf)
print("NaN (Not a Number):", math.nan)

Value of π (pi): 3.141592653589793
Value of e: 2.718281828459045
Positive infinity: inf
NaN (Not a Number): nan

**Trigonometric Functions:**
* math.sin(x), math.cos(x), math.tan(x):
Calculate the sine, cosine, and tangent of angle x (in radians).

* math.asin(x), math.acos(x), math.atan(x):
Calculate the arcsine, arccosine, and arctangent of x, returning the angle in radians.

* math.radians(degrees):
Converts angle degrees from degrees to radians.

* math.degrees(radians):
Converts angle radians from radians to degrees.

In [ ]:


# Trigonometric Functions
angle_degrees = 45
angle_radians = math.radians(angle_degrees)
print("Sine of", angle_degrees, "degrees:", math.sin(angle_radians))
print("Cosine of", angle_degrees, "degrees:", math.cos(angle_radians))
print("Tangent of", angle_degrees, "degrees:", math.tan(angle_radians))

Sine of 45 degrees: 0.7071067811865475
Cosine of 45 degrees: 0.7071067811865476
Tangent of 45 degrees: 0.9999999999999999

**Exponential and Logarithmic Functions:**
* math.exp(x):
Returns e raised to the power x.

* math.log(x[, base]):
Returns the natural logarithm of x (base e). Optionally, you can specify a base for the logarithm.

* math.log10(x):
Returns the base-10 logarithm of x.

In [ ]:
x = 2
print("e raised to the power", x, "=", math.exp(x))
print("Natural logarithm of", x, "=", math.log(x))
print("Base-10 logarithm of", x, "=", math.log10(x))

e raised to the power 2 = 7.38905609893065
Natural logarithm of 2 = 0.6931471805599453
Base-10 logarithm of 2 = 0.3010299956639812

**Power and Square Root Functions:**
* math.pow(x, y):
Returns x raised to the power y.

* math.sqrt(x):
Returns the square root of x.

In [ ]:
base = 2
power = 3
print(base, "raised to the power", power, "=", math.pow(base, power))
print("Square root of", x, "=", math.sqrt(x))

2 raised to the power 3 = 8.0
Square root of 2 = 1.4142135623730951

**Miscellaneous Functions:**
* math.ceil(x):
Returns the smallest integer greater than or equal to x.

* math.floor(x):
Returns the largest integer less than or equal to x.

* math.fabs(x):
Returns the absolute value of x.

* math.factorial(x):
Returns the factorial of x.

* math.gcd(a, b):
Returns the greatest common divisor of integers a and b.

* math.isfinite(x), math.isinf(x), math.isnan(x):
Check if x is finite, infinity, or NaN, respectively.

* math.trunc(x):
Truncates x to an integer (removes the decimal part without rounding).

In [ ]:

number = 3.7

print("Ceiling value of", number, ":", math.ceil(number))
print("Floor value of", number, ":", math.floor(number))
print("Absolute value of", number, ":", math.fabs(number))
print("Factorial of", power, ":", math.factorial(power))
print("Greatest common divisor of 12 and 18:", math.gcd(12, 18))
print("Is", number, "finite?", math.isfinite(number))
print("Is", math.inf, "infinity?", math.isinf(math.inf))
print("Is", math.nan, "NaN?", math.isnan(math.nan))
print("Truncated value of", number, ":", math.trunc(number))

Ceiling value of 3.7 : 4
Floor value of 3.7 : 3
Absolute value of 3.7 : 3.7
Factorial of 3 : 6
Greatest common divisor of 12 and 18: 6
Is 3.7 finite? True
Is inf infinity? True
Is nan NaN? True
Truncated value of 3.7 : 3

##**Python Random Module**



1.   **Random Number Generators:**

random(): Returns a random floating-point number in the range [0.0, 1.0]

In [ ]:
import random
print(random.random())  # Output: a random number between 0.0 and 1.0

0.39645105536631575

randint(a, b): Returns a random integer between a and b (inclusive)

In [ ]:
print(random.randint(2,10))

2

randrange(start, stop, step): Returns a randomly selected element from the range created by the arguments.

In [ ]:
random.randrange(1,50,2)

33

choice(sequence): Returns a randomly selected element from a non-empty sequence

In [ ]:
num=['a','b','c','d']

print(random.choice(num))

d

shuffle(sequence): Shuffles the elements of a sequence in place (modifies the original sequence).

In [ ]:
deck = ['Ace', '2', '3', '4', '5', '6', '7', '8', '9', '10', 'Jack', 'Queen', 'King']
random.shuffle(deck)
print(deck)

['6', 'Jack', '7', '3', '4', 'King', '2', 'Queen', '8', 'Ace', '5', '9', '10']

**2. Seed Functions:**
* seed(a=None): Initializes the random number generator with a given seed or the current system time if no seed is provided.

In [ ]:
random.seed(42)  # Initialize with seed 42
print(random.random())  # Output: deterministic random number based on seed 42

0.6394267984578837

**3. Random Sampling:**
* sample(population, k): Returns a list of k unique elements randomly sampled from the population.

In [ ]:
population = ['A', 'B', 'C', 'D', 'E']
sample = random.sample(population, 3)
print(sample)  # Output: random sample of 3 elements from the population

['A', 'C', 'E']

**choices(population, weights=None, k=1):**
*  Returns a list of k elements randomly sampled from the population with replacement (can select the same element multiple times). The weights argument allows you to specify the probability of selecting each element.

In [ ]:
population = ['A', 'B', 'C', 'D', 'E']
weights = [0.2, 0.3, 0.1, 0.2, 0.2]
choices = random.choices(population, weights=weights, k=5)
print(choices)  # Output: list of 5 elements randomly chosen with specified weights

['B', 'D', 'D', 'E', 'A']

#**Namespace and scope**

##LEGB Rule:
Python follows the LEGB (Local, Enclosing, Global, Built-in) rule to determine the order of searching for names:

* Local: Search in the local namespace (inside the function).
* Enclosing: Search in the enclosing function's namespace (if any).
* Global: Search in the global namespace (top-level of the module or script).
* Built-in: Search in the built-in namespace (Python's built-in names).
If a name is not found in one scope, Python looks for it in the next scope according to the LEGB rule until it either finds the name or reaches the built-in scope.

##Namespace:
A namespace in Python is a mapping from names (identifiers) to objects. It serves as a container for organizing and managing the names of variables, functions, classes, and other objects. Each namespace is unique and isolated from other namespaces, which helps avoid naming conflicts and provides a way to organize code logically.

**Types of Namespaces:**
* Built-in Namespace: Contains built-in functions, exceptions, and objects provided by Python (e.g., print(), len(), TypeError).
* Global Namespace: Contains names defined at the top level of a module or script. Variables and functions defined here are accessible throughout the module or script.
* Local Namespace: Created when a function is called and contains names defined within that function. The local namespace is temporary and exists only during the function's execution

##Scope:
Scope defines the visibility and accessibility of names (variables, functions, etc.) within a program. It determines where names can be accessed and modified.

**Types of scope:**

###Local Scope: Names defined within a function are in the local scope and are accessible only within that function.

In [ ]:
def myfun():
  local_variable = 10
  print(local_variable)

myfun()
#print(local_variable)    # Raises NameError: name 'local_variable' is not defined

10

###Enclosing (Non-local) Scope: If a function is defined inside another function, it has access to names in the enclosing function's scope.

In [ ]:
def outer_function():
    outer_variable = 20

    def inner_function():
        print(outer_variable)

    inner_function()  # Output: 20

outer_function()

20

In [ ]:
def outer():
  x= "local"
  def inner():
    nonlocal x
    x= "nonlocal"
    print("inner",x)
  inner()
  print("outer",x)

outer()

inner nonlocal
outer nonlocal

###Global Scope: Names defined at the top level of a module or script are in the global scope and are accessible throughout the module or script

In [ ]:
global_variable = 30

def my_function():
    print(global_variable)

my_function()  # Output: 30

30

In [ ]:
x = "global"

def fun():
  global x
  y= "local"
  x=x*2

  print(x)
  print(y)

print(x)
fun()
print(x)

global
globalglobal
local
globalglobal

###Built-in Scope: Contains built-in names provided by Python and is accessible from anywhere in the program.

In [ ]:
print(len([1, 2, 3]))  # Output: 3

3

#Python Global keyword

global keyword allows us to modify the variable outside of the current scope. It is used to create a global variable and make changes to the variable in local context.

**Syntax**

```
global variable_name
```

##**How to use global keyword**


*   When we create a variable inside a function, its local by default context

*   When we define a variable outside a function,It's global by default. You dont have to use global keyword.
* We use global keyword to read and write a global variable inside a function.
* Use of global keyword outside a function has no effect

In [ ]:
x = 10

def my_function():
    global x
    x = 20  # This modifies the global variable x
    print("Inside function:", x)

my_function()
print("Outside function:", x)  # Output: "Outside function: 20"

Inside function: 20
Outside function: 20

**Using global with Mutable Objects:**

In [ ]:
my_list = [1, 2, 3]

def modify_list():
    my_list.append(4)  # Modifies the global list without using global keyword
    print("Inside function:", my_list)

modify_list()
print("Outside function:", my_list)  # Output: [1, 2, 3, 4]

Inside function: [1, 2, 3, 4]
Outside function: [1, 2, 3, 4]

#**Iterator in python**

**Iterable vs. Iterator:**

* Iterable: Any object that can be iterated over is considered iterable. Examples include lists, tuples, strings, dictionaries, sets, file objects, and more. Iterables have an __iter__() method that returns an iterator.

* Iterator: An iterator is an object returned by the __iter__() method of an iterable. It implements the __next__() method, which returns the next element in the sequence or raises a StopIteration exception when there are no more elements.

In [ ]:
our_list = [1,2,3,4,5]
our_iter = iter(our_list)

print(our_iter)

print(next(our_iter))
print(next(our_iter))

print(our_iter.__next__())

<list_iterator object at 0x79e1aaf53100>
1
2
3

**Creating Custom Iterators:**
* You can create custom iterators by implementing the __iter__() and __next__() methods in a class.

In [ ]:
class pow_of_two:
  '''Class to represent an iterator of power of two'''
  def __init__(self,max = 0):
    self.max = max

  def __iter__(self):
    self.n = 0
    return self

  def __next__(self):
    if self.n <= self.max:
        result = 2**self.n
        self.n +=1
        return result
    else:
        raise StopIteration

print(pow_of_two.__doc__)
a= pow_of_two(4)
i = iter(a)
print(next(i))
print(i.__next__())
print(next(i))
print(next(i))

Class to represent an iterator of power of two
1
2
4
8

##**Iteration using For**

In [ ]:
#printing all the elements from list

a = [1,2,3,4,5]
for i in a:
  print(i)

1
2
3
4
5

In [ ]:
a = [1,2,3,4,5]
for i in a:
  print(i,end="")

12345

In [ ]:
#Printing all element in range function

for i in range(2,10,2):
  print(i)

2
4
6
8

**Using for loop with else block**

In [ ]:
b= (1,2,3,4,5)
for i in b:
  print(i)
else:
  print("Printing completed")

1
2
3
4
5
invalid

---

#Inheritance in Python

**Base Class (Animal):**
* The Animal class has an __init__ method to initialize the species attribute and a speak method that raises a NotImplementedError. It serves as the base class for all animals.

**Derived Class (Dog):**
* The Dog class inherits from Animal using class Dog(Animal):. It has its own __init__ method to initialize name and breed attributes, and it overrides the speak method inherited from Animal with its own implementation.

**super() Function:**

* In the Dog class, super().__init__("Dog") calls the __init__ method of the parent class (Animal) to initialize the species attribute.

**Method Overriding:**
* The speak method in Dog overrides the speak method in Animal, providing a specific implementation for dogs.

**Creating an Instance (my_dog):**
* We create an instance of Dog with the name "Buddy" and breed "Labrador".

**Accessing Attributes and Methods:**
* We access attributes (species, name, breed) and call the overridden speak method on the my_dog instance, demonstrating the inheritance and overriding behavior.

In [ ]:
class Animal:
    def __init__(self, species):
        self.species = species

    def speak(self):
        raise NotImplementedError("Subclass must implement this method")

class Dog(Animal):
    def __init__(self, name, breed):
        super().__init__("Dog")
        self.name = name
        self.breed = breed

    def speak(self):
        return "Woof!"

# Creating an instance of Dog
my_dog = Dog("Buddy", "Labrador")

# Accessing attributes and methods
print(my_dog.species)  # Output: Dog (inherited from Animal)
print(my_dog.name)     # Output: Buddy
print(my_dog.breed)    # Output: Labrador
print(my_dog.speak())  # Output: Woof! (overrides speak method from Animal)

Dog
Buddy
Labrador
Woof!

**Multiple Inheritance**

In [ ]:
class base1:
  def fun1(self):
    print("function 1 from class base1")

class base2:
  def fun2(self):
    print("function 2 from class base2")

class base3:
  def fun3(self):
    print("function 3 form class base3")

class multiderived(base1,base2,base3):
  def multifun(self):
    print(" multi function from multiderived class")

obj = multiderived()
obj.fun1()
obj.fun2()
obj.fun3()
obj.multifun()

function 1 from class base1
function 2 from class base2
function 3 form class base3
 multi function from multiderived class

**Here's an example to illustrate the usage of the superclass's __init__ method in a subclass:**

In [ ]:
class Animal:
    def __init__(self, species):
        self.species = species
        print(f"Initialized {self.species} animal")

class Dog(Animal):
    def __init__(self, name, breed):
        super().__init__("Dog")  # Call superclass's __init__ to initialize species
        self.name = name
        self.breed = breed
        print(f"{self.name} is a {self.breed} dog")

# Example usage:
my_dog = Dog("Buddy", "Labrador")

Initialized Dog animal
Buddy is a Labrador dog

*In Python, when a class inherits from multiple base classes (multiple inheritance), you can use the super() function to call the __init__ method of a specific superclass. This allows you to control which superclass's __init__ method is called during object initialization. Here's how you can achieve that:*

In [ ]:
class Animal:
    def __init__(self, species):
        self.species = species
        print(f"Initialized {self.species} animal")

class Toy:
    def __init__(self, toy_type):
        self.toy_type = toy_type
        print(f"Initialized {self.toy_type} toy")

class Dog(Animal, Toy):
    def __init__(self, name, breed):
        super(Animal, self).__init__("Dog")  # Call Animal's __init__ method
        self.name = name
        self.breed = breed
        print(f"{self.name} is a {self.breed} dog")

# Example usage:
my_dog = Dog("Buddy", "Labrador")

Initialized Dog toy
Buddy is a Labrador dog

##**Accessing class attribute**

In [ ]:
class Car:
    # Class attribute
    num_wheels = 4

    def __init__(self, make, model):
        self.make = make
        self.model = model

# Accessing class attribute
print(Car.num_wheels)  # Output: 4

# Creating instances of Car class
car1 = Car("Toyota", "Camry")
car2 = Car("Honda", "Civic")

# Accessing class attribute through instances
print(car1.num_wheels)  # Output: 4
print(car2.num_wheels)  # Output: 4

# Modifying class attribute
Car.num_wheels = 6
print(Car.num_wheels)  # Output: 6
print(car1.num_wheels)  # Output: 6 (modified for all instances)
print(car2.num_wheels)  # Output: 6 (modified for all instances)

4
4
4
6
6
6

***You can access class attributes using the __class__ attribute within class methods or instance methods. Here's an example:***

In [ ]:
class Car:
    num_wheels = 4  # Class attribute

    def __init__(self, make, model):
        self.make = make
        self.model = model

    def display_info(self):
        print(f"Make: {self.make}, Model: {self.model}")

    def display_num_wheels(self):
        # Accessing class attribute using __class__.attribute
        print(f"Number of wheels: {self.__class__.num_wheels}")

# Creating instances of Car class
car1 = Car("Toyota", "Camry")
car2 = Car("Honda", "Civic")

# Accessing class attribute using __class__.attribute
print(car1.__class__.num_wheels)  # Output: 4
print(car2.__class__.num_wheels)  # Output: 4

# Calling instance method to display class attribute
car1.display_num_wheels()  # Output: Number of wheels: 4
car2.display_num_wheels()  # Output: Number of wheels: 4

4
4
Number of wheels: 4
Number of wheels: 4

-----

#Python Function

* Function is a group of related statement that perform specific task in our program

* Function implementation breaks our program into smaller and modular chunks.

* Reusability feature helps us to avoid repetition of our program codes

###**Syntax of function**
```
def fun_name(parameter):
  '''Docstring'''
  statements()
  return return_value   #optional
```

#**Python Function Arguments**



1.    **Positional Arguments:**

In [ ]:
def greet(name,message):
  print(f"hello {name} {message}")

greet("nabin","How are you?")

hello nabin How are you?

**2 .Keyword Arguments:**
* Keyword arguments are specified with their corresponding parameter names in the function call.

In [ ]:
def greet(name,message):
  print(f"hello {name} {message}")

greet(message="how are you?", name = "Nabin")

hello Nabin how are you?

**3. Default Arguments:**
* Default arguments have predefined values and are used when a value is not provided in the function call.

In [ ]:
def greet(name, message="are you ok?"):
  print(f"hello {name}, {message}")

greet("nabin")
greet("nabin","how are you?")

hello nabin, are you ok?
hello nabin, how are you?

**4. Variable-Length Arguments (*args):**
* The *args parameter allows a function to accept an arbitrary number of positional arguments as a *tuple*.
* arbirary arguments

In [ ]:
def fun(*args):
  s = sum(args)
  print(s)


fun(1,2,3,4,5)

15

**Variable-Length Keyword Arguments (**kwargs):

In [ ]:
def my_function(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

my_function(name="Alice", age=30, city="New York")

name: Alice
age: 30
city: New York

#Python error and exception
| Exception              | Description                                                                                     |
|------------------------|-------------------------------------------------------------------------------------------------|
| ArithmeticError        | Raised when an error occurs in numeric calculations.                                             |
| AssertionError        | Raised when an assert statement fails.                                                           |
| AttributeError        | Raised when attribute reference or assignment fails.                                              |
| Exception              | Base class for all exceptions.                                                                  |
| EOFError               | Raised when the input() method hits an "end of file" condition (EOF).                            |
| FloatingPointError     | Raised when a floating point calculation fails.                                                   |
| GeneratorExit          | Raised when a generator is closed (with the close() method).                                     |
| ImportError           | Raised when an imported module does not exist.                                                    |
| IndentationError       | Raised when indentation is not correct.                                                          |
| IndexError             | Raised when an index of a sequence does not exist.                                                |
| KeyError              | Raised when a key does not exist in a dictionary.                                                |
| KeyboardInterrupt     | Raised when the user presses Ctrl+C, Ctrl+Z, or Delete.                                          |
| LookupError            | Raised when errors raised can't be found.                                                         |
| MemoryError            | Raised when a program runs out of memory.                                                         |
| NameError             | Raised when a variable does not exist.                                                           |
| NotImplementedError | Raised when an abstract method requires an inherited class to override the method.               |
| OSError                | Raised when a system-related operation causes an error.                                           |
| OverflowError         | Raised when the result of a numeric calculation is too large.                                    |
| ReferenceError        | Raised when a weak reference object does not exist.                                               |
| RuntimeError           | Raised when an error occurs that does not belong to any specific exceptions.                     |
| StopIteration         | Raised when the next() method of an iterator has no further values.                               |
| SyntaxError            | Raised when a syntax error occurs.                                                               |
| TabError               | Raised when indentation consists of tabs or spaces.                                               |
| SystemError            | Raised when a system error occurs.                                                               |
| SystemExit             | Raised when the sys.exit() function is called.                                                    |
| TypeError              | Raised when two different types are combined.                                                     |
| UnboundLocalError      | Raised when a local variable is referenced before assignment.                                     |
| UnicodeError          | Raised when a Unicode problem occurs.                                                             |
| UnicodeEncodeError  | Raised when a Unicode encoding problem occurs.                                                     |
| UnicodeDecodeError | Raised when a Unicode decoding problem occurs.                                                     |
| UnicodeTranslateError | Raised when a Unicode translation problem occurs.                                                 |
| ValueError            | Raised when there is a wrong value in a specified data type.                                      |
| ZeroDivisionError   | Raised when the second operator in a division is zero.                                            |

**ArithmeticError:**
* Raised when an error occurs in numeric calculations.

In [ ]:
try:
    result = 10 / 0  # Division by zero raises ArithmeticError
except ArithmeticError as e:
    print(f"ArithmeticError: {e}")

ArithmeticError: division by zero

**AssertionError:**
* Raised when an assert statement fails.

In [ ]:
try:

   assert 2 + 2 == 5, "Assertion failed: 2 + 2 is not equal to 5"

except AssertionError as e:
  print(e)

Assertion failed: 2 + 2 is not equal to 5

**AttributeError:**
* Raised when attribute reference or assignment fails.

In [ ]:
try:
   class MyClass:
    pass

   obj = MyClass()
   print(obj.attribute)  # Raises AttributeError because 'attribute' does not exist

except AttributeError as e:
  print(e)

'MyClass' object has no attribute 'attribute'

**EOFError:**
* Raised when the input() method hits an "end of file" condition (EOF).

In [ ]:
try:
  user_input = input("enter something ")
except EOFError as e:
  print(e)

enter something dnmngdm

**ZeroDivisionError:**
* Raised when a zero-point calculation fails.

In [ ]:
try:
  a = 1.0 / 0.0
  print(a)
except ZeroDivisionError as e:
  print(e)

float division by zero

#**Try... Exception... finally**

In [ ]:
try:
  print("in try block")
  raise TypeError
except:
  print("int exception block")
finally:
  print("in finally block")

in try block
int exception block
in finally block

##**User defined Exception**

**Explanation:**
* ***Create a Custom Exception Class:*** To define a user-defined exception, you typically create a new class that inherits from the built-in Exception class or one of its subclasses. This custom class can include additional attributes or methods to provide more context about the error.
* ***Raise the Custom Exception:*** You can raise your custom exception using the raise keyword when a specific condition or error occurs in your code.
* ***Catch the Custom Exception:*** Use a try-except block to catch and handle your custom exception or any other exceptions that may arise.

```
class CustomException(Exception):
    def __init__(self, message):
        super().__init__(message)

# Example of using the custom exception:
try:
    raise CustomException("Custom error message")
except CustomException as e:
    print(f"Caught custom exception: {e}")
```

In [ ]:
class votersEligibility(Exception):
  def __init__(self):
    super()

try:
  age = 12

  if age < 18:
    raise votersEligibility
except votersEligibility:
  print(f"error: age is less than 18")

error: age is less than 18