<a href="https://colab.research.google.com/github/nabinyd/python/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Python statement and comment**

Instruction that a python interpretor can execute is called python statement

**Multiline Statement** : In python end of a statement is marked by new line character. But we can make a statement extend over multiple line with the line continuation character **(/)**

*for example:*

In [ ]:
print('''welcome
 to programming''')

welcome
 to programming

In [ ]:
# Explicit line continuation statement
b=1+2+3+4 \
+5+6
print(b)

# Implicit line continuation statement

c = (4+5+6
     +2+5)
print(c)

21
22

***Multiline statement using: ";"***

In [ ]:
d=1; c=3; f="ff"
print(d,c,f)

1 3 ff

**Python Indentation:** Like other programming languages eg. c, c++ ,java uses {} to define a block of code. Pyhon uses indentation

*As example:*

```
for i in range(1,6):
  print(i)
```

**Python comments**

\# is used for line comment in python

''' or """ this is used for multiline string or comment

####**Docstring**



*  Docstring is a short for documentation string
*   It is a string that occurs as the first statement in the function, class, module or method definition. We must write what a function/ class does in the docstring.

In [ ]:
def square(num):
    """
    Calculate the square of a number.

    Args:
    - num (int or float): The number to be squared.

    Returns:
    - int or float: The square of the input number.
    """
    return num ** 2

# Using the square function
result = square(5)
print("Square of 5 is:", result)

# Accessing the docstring
print("\nsquare function docstring:")
print(square.__doc__)

Square of 5 is: 25

square function docstring:

    Calculate the square of a number.

    Args:
    - num (int or float): The number to be squared.

    Returns:
    - int or float: The square of the input number.

#**Input**

`input()` :    

*  Function : The `input()` function allows the user to provide input to the program.

*  Usage: It reads line from input (usually from the user via keyboard) and returns it as a string.

Example:

In [ ]:
name = input("enter Your name: ")

print("hello " + name + "!")

enter Your name: nabin
hello nabin!

In [ ]:
y= int(input("Enter any number: "))
print("number : ", y)

Enter any number: 5
number :  5

#**Parameter in print() function**

### `print` Function Syntax

**Syntax**: `print(*objects, sep=' ', end='\n', file=sys.stdout, flush=False)`

- **`*objects`**: Any number of objects to be printed. Multiple objects are separated by `sep`.

- **`sep`** (optional): Specifies the separator between the objects (default is a space).
- **`end`** (optional): Specifies what to print at the end (default is a newline).
- **`file`** (optional): Specifies the file to write to (default is `sys.stdout`).
- **`flush`** (optional): Specifies whether to flush the output buffer (default is `False`).

####**objects (positional argument):**
* Represents the values or objects to be printed. You can pass multiple objects separated by commas, and print() will automatically insert spaces between them.
```
print("Hello", "world!")  # Output: Hello world!
```

####**sep (keyword argument, default is a single space ' '):**

* Specifies the separator between the objects. You can change it to any string or character.
```
print("Hello", "world!", sep=", ")  # Output: Hello, world!
```

####**end (keyword argument, default is a newline '\n'):**
* Specifies the string to be appended at the end of the printed output. By default, it adds a newline after printing.

```
print("Hello", end=" ")
print("world!")  # Output: Hello world! (without newline)
```

####**file (keyword argument, default is sys.stdout):**
* Specifies the file object where the output should be sent. By default, it prints to the standard output (console).

```
with open("output.txt", "w") as f:
    print("Hello world!", file=f)  # Output: Writes to output.txt instead of console

####**flush (keyword argument, default is False):**
* Specifies whether the output buffer should be flushed immediately. When flush=True, it forces the output to be written immediately.

```
print("Hello", flush=True)  # Output: Prints "Hello" immediately without waiting
```

###**Example with All Parameters:**
```
print("Hello", "world", sep=", ", end="!", file=sys.stdout, flush=False)
```

In [ ]:
print("Hello", "world", sep=", ", end="!", flush=False)

Hello, world!

In [ ]:
str = "Nabin Yadav"
print(str[1:-2])

abin Yad



The syntax `str[1:3:4]` in Python is used for slicing strings. Let's break down each part:

- `str`: This refers to the string you want to slice.
- `[1:3:4]`: This is the slicing syntax.

Here's what each part inside the square brackets means:

1. **Start Index (1)**: This specifies the index from where the slicing will start. In Python, indexing starts from 0. So, `str[1]` refers to the second character of the string.


2. **End Index (3)**: This specifies the index where the slicing will end. However, note that the slicing stops before the end index. So, `str[3]` is not included in the sliced string.


3. **Step (4)**: This specifies the step size, which determines how many characters to skip between each character that is included in the sliced string.

In [ ]:
print(str[1:3:4])

a

In [ ]:
str1 = "nabin"
str2 = "yadav"
print(str1)
print(str2)
print(str1 +' '+ str2)
print(str1*3)
print(str1+ " " + str2 *3)

nabin
yadav
nabin yadav
nabinnabinnabin
nabin yadavyadavyadav

In [ ]:
#Iteration through string
letter_count =0
for letters in str1:
  print(letters)
  letter_count +=1
print(letter_count)

n
a
b
i
n
5

In [ ]:
#string membership
print('y' in str1)
print('y' in str1+ str2)
print('n'in str1)
print('a' not in str1)

False
True
True
False

In [ ]:
# The code en = list(enumerate(str1)) creates a list of tuples where each tuple contains the index and character of each element in the string str1. Here's a breakdown:

# enumerate(str1): This function pairs each element of str1 with its index, starting from 0. It returns an iterator of tuples, where each tuple contains an index and the corresponding character from str1.
# list(...): Converts the iterator returned by enumerate into a list.

en=list(enumerate(str1))
print(en)

[(0, 'n'), (1, 'a'), (2, 'b'), (3, 'i'), (4, 'n')]

In [ ]:
print(len(str1))

5

In [ ]:
print('''using triple quotes''')
print('escaping single quote\'s')
print("tell me 'what\'s your name?'")

using triple quotes
escaping single quote's
tell me 'what's your name?'

#**Importing module**

`import`    

*   **function** : The `import` statement is used to include the definitions (functions, classes, variables) from a module into your current module into your current namespace.


*   **Basic import :**
   *   **Syntax :**  `import module_name`

   *   **Example:**

In [ ]:
import math
print(math.sqrt(16))

4.0

####**Import Specific name**

 *   **Syntax :** `from module_name import name1 , name2`

In [ ]:
from math import sqrt, pi
print(sqrt(16))  # Output: 4.0
print(pi)  # Output: 3.141592653589793

4.0
3.141592653589793

####**Import with Alias:**


**Syntax:** `import module_name as alias`

In [ ]:
import numpy as np
arr = np.array([1, 2, 3])
print(arr)  # Output: [1 2 3]

[1 2 3]

#**Python List comprehension**

In [ ]:
h_letters = []

for letters in 'human':
  h_letters.append(letters)

print(h_letters)

['h', 'u', 'm', 'a', 'n']

**using compresension**

In [ ]:
h_letters = [letter for letter in 'human']

print(h_letters)

['h', 'u', 'm', 'a', 'n']

**List comprehension vs Lambda function**

In [ ]:
h_letters = list(map(lambda x:x, "human"))

print(h_letters)

['h', 'u', 'm', 'a', 'n']

**If with list comprehension**

In [ ]:
number_list = [x for x in range(20) if x % 2 == 0 ]
print(number_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

**Nested If with list comprehension**

In [ ]:
num_list = [ y for y in range(100) if y % 2 == 0 if y % 5 ==0]
print(num_list)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

**If .. else with list compresension**

In [ ]:
obj = ["even" if i%2==0 else "odd" for i in range(10)]
print(obj)

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

**Transposing a matrix using list comprehension**

In [ ]:
matrix = [[1,2],[3,4],[5,6],[7,8]]
transpose = [[row[i] for row in matrix]  for i in range(2)]
print(transpose)

[[1, 3, 5, 7], [2, 4, 6, 8]]

####**Advance example**

**Flattening a List of list**

In [ ]:
nested_list = [[1,2,3],[4,5,6],[7,8,9]]

flattened = [item for sublist in nested_list for item in  sublist]
print(flattened)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## How It Works

### Outer Loop (`for sublist in nested_list`):
- This loop iterates over each sublist in `nested_list`.
- `sublist` takes the value of each inner list in `nested_list` one by one.

  - Iteration 1: `sublist = [1, 2, 3]`
  - Iteration 2: `sublist = [4, 5, 6]`
  - Iteration 3: `sublist = [7, 8, 9]`

### Inner Loop (`for item in sublist`):
- For each `sublist`, this inner loop iterates over each `item` in the `sublist`.
- During each iteration of the outer loop, the inner loop will iterate over the elements of the current `sublist`.

  - For `sublist = [1, 2, 3]`:
    - Iteration 1: `item = 1`
    - Iteration 2: `item = 2`
    - Iteration 3: `item = 3`

  - For `sublist = [4, 5, 6]`:
    - Iteration 1: `item = 4`
    - Iteration 2: `item = 5`
    - Iteration 3: `item = 6`

  - For `sublist = [7, 8, 9]`:
    - Iteration 1: `item = 7`
    - Iteration 2: `item = 8`
    - Iteration 3: `item = 9`

### Expression (`item`):
- The expression `item` specifies what to include in the new list.
- For each `item` obtained from the inner loop, it is included in the `flattened` list.

**Using function**

Apply a function to each element

In [ ]:
def square(x):
  return x**2


squares = [square(x) for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

**Creating a dictionary**


Creating a dictionary from list of tuples:

In [ ]:
tuples = [(1,'one'),(2,'two'),(3,'three')]

num_dict = {k:v for k,v in tuples}
print(num_dict)

{1: 'one', 2: 'two', 3: 'three'}

#**Format method in string**

In [ ]:
default_order = "{} {} {}".format("name","age","roll")
print(default_order)

#positional argiments
name = "nabin"
lastname = "yadav"
positional_argument = "My name is {} {}".format(name,lastname)
print(positional_argument)

name age roll
My name is nabin yadav

**Named argument**

In [ ]:
named_argument = "My name is {firstname} {lastname}".format(firstname='nabin',lastname = "yadav")
print(named_argument)

My name is nabin yadav

###**Format Specifiers:**
###You can apply formatting options to the placeholders to control how the values are displayed:

* {:.2f}: Format as a floating-point number with 2 decimal places.
* {:<10}: Left-align text within a 10-character space.
* {:^10}: Center-align text within a 10-character space.
* {:>10}: Right-align text within a 10-character space.

**{:.2f}: Format as a floating-point number with 2 decimal places.**

In [ ]:
pi = 3.14159
formatted_pi = "Pi value: {:.2f}".format(pi)
print(formatted_pi)

Pi value: 3.14

**{:<20}: Left-align text within a 10-character space**

In [ ]:
text = "left-aligned"
print(text)
formatted_text = "{:<20}".format(text)
print('|'+formatted_text+'|')

left-aligned
|left-aligned        |

**{:^20}: centered-align text within a 10-character space**

In [ ]:
text = "centered-aligned"
print(text)
formatted_text = "{:^20}".format(text)
print('|'+formatted_text+'|')

centered-aligned
|  centered-aligned  |

**{:>20}: Right-align text within a 10-character space.**

In [ ]:
text = "right-aligned"
print(text)
formatted_text = "{:>20}".format(text)
print('|'+formatted_text+'|')

right-aligned
|       right-aligned|

##**Binary Integer Formatting:**
To format an integer into its binary representation, you can use the b format specifier. For example:

In [ ]:
num = 10
binary_num = "{:b}".format(num)
print(binary_num)

1010

##**Exponential representation**

In [ ]:
print("{0:e}".format(1.52354))

1.523540e+00

##**Binary Floating-Point Formatting:**

In [ ]:
num = 3.5
binary_num = "{:b}".format(int(num))  # Convert to integer first
print(binary_num)

11

##**Binary Prefixes and Padding:**
* In this case, # adds the prefix 0b to indicate a binary number, and 010 specifies padding the binary representation with zeros to a total width of 10 characters.

In [ ]:
num = 10
binary_num = "{:#010b}".format(num)  # Pad with zeros and add '0b' prefix
print(binary_num)  # Output: '0b00001010'

0b00001010

##**Using f-Strings for Binary Formatting (Python 3.6+):**

In [ ]:
num = 10
binary_num = f"{num:#010b}"  # Using f-string with padding and prefix
print(binary_num)

0b00001010

##**Binary Representation of Other Data Types:**
You can apply binary formatting to other data types as well, such as bytes and bytearray objects:

In [ ]:
data = b'Hello'
binary_data = "{:08b}".format(int.from_bytes(data, byteorder='big'))
print("Output = " + binary_data)

Output = 100100001100101011011000110110001101111

#**String Method in Python**

---
Here's a list of commonly used string methods in Python:

##Conversion Methods:
* upper(): Converts a string to uppercase.
* lower(): Converts a string to lowercase.
* capitalize(): Capitalizes the first character of a string.
* title(): Converts the first character of each word to uppercase.


##Trimming and Padding:
* strip(): Removes leading and trailing whitespace.
* lstrip(): Removes leading whitespace.
* rstrip(): Removes trailing whitespace.
* center(width, fillchar): Centers the string in a specified width with optional padding characters.
* ljust(width, fillchar): Left-justifies the string in a specified width with optional padding characters.
* rjust(width, fillchar): Right-justifies the string in a specified width with optional padding characters.

##Search and Replace:
* find(substring, start, end): Searches for a substring and returns its first * occurrence index (or -1 if not found).
* rfind(substring, start, end): Searches for a substring from the end of the
 string and returns its index.
* index(substring, start, end): Similar to find() but raises an error if the
 substring is not found.
* replace(old, new, count): Replaces occurrences of a substring with another
 substring.

##Splitting and Joining:
* split(sep, maxsplit): Splits a string into a list of substrings based on a separator.
* rsplit(sep, maxsplit): Splits a string from the right.
* join(iterable): Concatenates elements of an iterable (like a list) into a
  string using the string as a separator.

##Checking and Validation:
* startswith(prefix, start, end): Checks if a string starts with a specified prefix.
*endswith(suffix, start, end): Checks if a string ends with a specified suffix.
*isalnum(): Checks if all characters are alphanumeric.
*isalpha(): Checks if all characters are alphabetic.
*isdigit(): Checks if all characters are digits.
*islower(): Checks if all characters are lowercase.
*isupper(): Checks if all characters are uppercase.
*isspace(): Checks if all characters are whitespace.

##Formatting:
* format(*args, **kwargs): Formats a string with positional and keyword arguments.
*format_map(mapping): Formats a string using a mapping (like a dictionary).

##Encoding and Decoding:
* encode(encoding, errors): Encodes the string into bytes using a specified encoding.
* decode(encoding, errors): Decodes bytes into a string using a specified encoding.

##Miscellaneous:
* len(): Returns the length of the string.
* count(substring, start, end): Counts occurrences of a substring.
* expandtabs(tabsize): Expands tabs to spaces.
* swapcase(): Swaps case of characters (lowercase to uppercase and vice versa).
* partition(separator): Splits the string into three parts based on a separator.

##**upper() and lower():**

In [ ]:
text = "Hello World"
upper_text = text.upper()
lower_text = text.lower()

print(upper_text)
print(lower_text)

HELLO WORLD
hello world

##**capitalize() and title():**

In [ ]:
text = "hello world"
capitalized_text = text.capitalize()
title_text = text.title()

print(capitalized_text)
print(title_text)

Hello world
Hello World

##**strip(), lstrip(), and rstrip():**

In [ ]:
text = "   Hello World   "
stripped_text = text.strip()
left_stripped_text = text.lstrip()
right_stripped_text = text.rstrip()

print(stripped_text)
print(left_stripped_text)
print(right_stripped_text)

Hello World
Hello World
   Hello World

##**center(width, fillchar), ljust(width, fillchar), and rjust(width, fillchar):**

In [ ]:
text = "Python"
centered_text = text.center(10, '*')
left_justified_text = text.ljust(10, '-')
right_justified_text = text.rjust(10, '+')

print(centered_text)         # Output: "**Python**"
print(left_justified_text)    # Output: "Python----"
print(right_justified_text)   # Output: "++++Python"

**Python**
Python----
++++Python

##**find(substring, start, end) and index(substring, start, end):**

In [ ]:
text = "Hello World"
index_of_o = text.find("o")
index_of_z = text.find("z")  # Not found, returns -1

print(index_of_o)  # Output: 4
print(index_of_z)  # Output: -1

try:
    index_of_z_error = text.index("z")
except ValueError as e:
    print("Error:", e)  # Output: Error: substring not found

4
-1
Error: substring not found

##**replace(old, new, count):**

In [ ]:
text = "Hello World"
print(text)
new_text = text.replace("World", "Python")

print(new_text)  # Output: "Hello Python"

Hello World
Hello Python

##**split(sep, maxsplit):**

In [ ]:
text = "apple,banana,orange"
fruits_list = text.split(",")

print(fruits_list)  # Output: ['apple', 'banana', 'orange']

['apple', 'banana', 'orange']

In [ ]:
text = "apple,banana,orange,grapes"
fruits_list = text.split(",", maxsplit=2)

print(fruits_list)  # Output: ['apple', 'banana', 'orange,grapes']

['apple', 'banana', 'orange,grapes']

##**join(iterable):**

In [ ]:
fruits_list = ['apple', 'banana', 'orange']
text = ", ".join(fruits_list)

print(text)  # Output: "apple, banana, orange"

apple, banana, orange

You can use join() to concatenate elements with a custom separator:

In [ ]:
fruits_list = ['apple', 'banana', 'orange']
text = " - ".join(fruits_list)

print(text)  # Output: "apple - banana - orange"

apple - banana - orange

#DataType conversion

###**Implicit type conversion**

In [ ]:
num_int = 10
num_float = 5.2356

num_new = num_int + num_float

print("num_int",type(num_int))
print("num_float",type(num_float))

print("new_num = ",  num_new)
print("num_new_type",type(num_new))

num_int <class 'int'>
num_float <class 'float'>
new_num =  15.2356
num_new_type <class 'float'>

###**Explicit Type Connversion**



1. int(), float(), str(), bool():
* int(x): Converts x to an integer.
* float(x): Converts x to a floating-point number.
* str(x): Converts x to a string.
* bool(x): Converts x to a boolean value (True or False).
```
num_str = "123"
num_int = int(num_str)  # Convert string to integer
print(num_int)  # Output: 123
```

2. Type-specific constructors:
* list(iterable): Converts an iterable (like a tuple or string) to a list.
```
my_tuple = (1, 2, 3)
my_list = list(my_tuple)
print(my_list)  # Output: [1, 2, 3]
```
* tuple(iterable): Converts an iterable to a tuple.
```
my_list = [1, 2, 3]
my_tuple = tuple(my_list)
print(my_tuple)  # Output: (1, 2, 3)
```
* set(iterable): Converts an iterable to a set.
```
my_list = [1, 2, 2, 3]
my_set = set(my_list)
print(my_set)  # Output: {1, 2, 3}
```

* dict(iterable): Converts an iterable of key-value pairs to a dictionary.
```
key_value_pairs = [("a", 1), ("b", 2)]
my_dict = dict(key_value_pairs)
print(my_dict)  # Output: {'a': 1, 'b': 2}
```



3. Custom functions or methods:
* You can also define custom functions or methods to perform more complex type conversions based on your specific needs.

In [ ]:
def string_to_int(s):
    try:
        return int(s)
    except ValueError:
        return None

#num_str = "abc"  output: none
num_str = "122"
num_int = string_to_int(num_str)

print(num_int)  # Output: 123

122

#**Python Numbers**


*   isinstance()
*   type()
*   issubclass()

The isinstance() function in Python is used to check if an object belongs to a specified class or type. It helps in determining the type of an object and can be used to perform type checking within functions or code blocks.

**Syntax:**
```
isinstance(object, classinfo)
```


*   object: The object whose type is to be checked.
* classinfo: A class, type, or tuple of classes and types to check against.

In [ ]:
value1 =100
print(isinstance(value1,int))
print(isinstance(value1,float))

True
False

**Representing binary, hexadecimal and octal**

In [ ]:
print(0b110)
print(0x510)
print(0o23)

6
1296
19

**Python decimal**

In [ ]:
data1 = 0.1 + 0.2
print(data1)
data2 = 0.1 * 0.2
print(data2)
from decimal import Decimal as D
print(D('0.1')+D('0.2'))
print(D('0.1')*D('0.2'))

0.30000000000000004
0.020000000000000004
0.3
0.02

In [ ]:
from fractions import Fraction as F
print(F(0.5))
print(F(5))
print(F(1,5))

1/2
5
1/5

###**Using isinstance() in Functions:**

In [ ]:
def calculate(value):
    if isinstance(value, int):
        return value * 2
    elif isinstance(value, float):
        return value * 1.5
    else:
        return "Invalid input type"

print(calculate(10))  # Output: 20
print(calculate(3.5))  # Output: 5.25
print(calculate("abc"))  # Output: "Invalid input type"

20
5.25
Invalid input type

###**type() Function:**
* The type() function returns the type of an object.

In [ ]:
x = 5
print(type(x) == int)  # Output: True
print(type(x) == float)  # Output: False

True
False

###**issubclass() Function:**
* The issubclass() function checks if a class is a subclass of another class.

In [ ]:
class A:
    pass

class B(A):
    pass

print(issubclass(B, A))  # Output: True
print(issubclass(A, B))  # Output: False

True
False

##**Python Math Module**

**Constants:**
* math.pi:
Represents the mathematical constant  (pi), approximately equal to 3.14159.

* math.e:
Represents the mathematical constant e, the base of natural logarithms, approximately equal to 2.71828.

* math.inf:
Represents positive infinity.

* math.nan:
Represents "Not a Number" (NaN), used to represent undefined or unrepresentable results.

In [ ]:
import math

In [ ]:
print("Value of  (pi):", math.pi)
print("Value of e:", math.e)
print("Positive infinity:", math.inf)
print("NaN (Not a Number):", math.nan)

Value of  (pi): 3.141592653589793
Value of e: 2.718281828459045
Positive infinity: inf
NaN (Not a Number): nan

**Trigonometric Functions:**
* math.sin(x), math.cos(x), math.tan(x):
Calculate the sine, cosine, and tangent of angle x (in radians).

* math.asin(x), math.acos(x), math.atan(x):
Calculate the arcsine, arccosine, and arctangent of x, returning the angle in radians.

* math.radians(degrees):
Converts angle degrees from degrees to radians.

* math.degrees(radians):
Converts angle radians from radians to degrees.

In [ ]:


# Trigonometric Functions
angle_degrees = 45
angle_radians = math.radians(angle_degrees)
print("Sine of", angle_degrees, "degrees:", math.sin(angle_radians))
print("Cosine of", angle_degrees, "degrees:", math.cos(angle_radians))
print("Tangent of", angle_degrees, "degrees:", math.tan(angle_radians))

Sine of 45 degrees: 0.7071067811865475
Cosine of 45 degrees: 0.7071067811865476
Tangent of 45 degrees: 0.9999999999999999

**Exponential and Logarithmic Functions:**
* math.exp(x):
Returns e raised to the power x.

* math.log(x[, base]):
Returns the natural logarithm of x (base e). Optionally, you can specify a base for the logarithm.

* math.log10(x):
Returns the base-10 logarithm of x.

In [ ]:
x = 2
print("e raised to the power", x, "=", math.exp(x))
print("Natural logarithm of", x, "=", math.log(x))
print("Base-10 logarithm of", x, "=", math.log10(x))

e raised to the power 2 = 7.38905609893065
Natural logarithm of 2 = 0.6931471805599453
Base-10 logarithm of 2 = 0.3010299956639812

**Power and Square Root Functions:**
* math.pow(x, y):
Returns x raised to the power y.

* math.sqrt(x):
Returns the square root of x.

In [ ]:
base = 2
power = 3
print(base, "raised to the power", power, "=", math.pow(base, power))
print("Square root of", x, "=", math.sqrt(x))

2 raised to the power 3 = 8.0
Square root of 2 = 1.4142135623730951

**Miscellaneous Functions:**
* math.ceil(x):
Returns the smallest integer greater than or equal to x.

* math.floor(x):
Returns the largest integer less than or equal to x.

* math.fabs(x):
Returns the absolute value of x.

* math.factorial(x):
Returns the factorial of x.

* math.gcd(a, b):
Returns the greatest common divisor of integers a and b.

* math.isfinite(x), math.isinf(x), math.isnan(x):
Check if x is finite, infinity, or NaN, respectively.

* math.trunc(x):
Truncates x to an integer (removes the decimal part without rounding).

In [ ]:

number = 3.7

print("Ceiling value of", number, ":", math.ceil(number))
print("Floor value of", number, ":", math.floor(number))
print("Absolute value of", number, ":", math.fabs(number))
print("Factorial of", power, ":", math.factorial(power))
print("Greatest common divisor of 12 and 18:", math.gcd(12, 18))
print("Is", number, "finite?", math.isfinite(number))
print("Is", math.inf, "infinity?", math.isinf(math.inf))
print("Is", math.nan, "NaN?", math.isnan(math.nan))
print("Truncated value of", number, ":", math.trunc(number))

Ceiling value of 3.7 : 4
Floor value of 3.7 : 3
Absolute value of 3.7 : 3.7
Factorial of 3 : 6
Greatest common divisor of 12 and 18: 6
Is 3.7 finite? True
Is inf infinity? True
Is nan NaN? True
Truncated value of 3.7 : 3

##**Python Random Module**



1.   **Random Number Generators:**

random(): Returns a random floating-point number in the range [0.0, 1.0]

In [ ]:
import random
print(random.random())  # Output: a random number between 0.0 and 1.0

0.39645105536631575

randint(a, b): Returns a random integer between a and b (inclusive)

In [ ]:
print(random.randint(2,10))

2

randrange(start, stop, step): Returns a randomly selected element from the range created by the arguments.

In [ ]:
random.randrange(1,50,2)

33

choice(sequence): Returns a randomly selected element from a non-empty sequence

In [ ]:
num=['a','b','c','d']

print(random.choice(num))

d

shuffle(sequence): Shuffles the elements of a sequence in place (modifies the original sequence).

In [ ]:
deck = ['Ace', '2', '3', '4', '5', '6', '7', '8', '9', '10', 'Jack', 'Queen', 'King']
random.shuffle(deck)
print(deck)

['6', 'Jack', '7', '3', '4', 'King', '2', 'Queen', '8', 'Ace', '5', '9', '10']

**2. Seed Functions:**
* seed(a=None): Initializes the random number generator with a given seed or the current system time if no seed is provided.

In [ ]:
random.seed(42)  # Initialize with seed 42
print(random.random())  # Output: deterministic random number based on seed 42

0.6394267984578837

**3. Random Sampling:**
* sample(population, k): Returns a list of k unique elements randomly sampled from the population.

In [ ]:
population = ['A', 'B', 'C', 'D', 'E']
sample = random.sample(population, 3)
print(sample)  # Output: random sample of 3 elements from the population

['A', 'C', 'E']

**choices(population, weights=None, k=1):**
*  Returns a list of k elements randomly sampled from the population with replacement (can select the same element multiple times). The weights argument allows you to specify the probability of selecting each element.

In [ ]:
population = ['A', 'B', 'C', 'D', 'E']
weights = [0.2, 0.3, 0.1, 0.2, 0.2]
choices = random.choices(population, weights=weights, k=5)
print(choices)  # Output: list of 5 elements randomly chosen with specified weights

['B', 'D', 'D', 'E', 'A']

#**Namespace and scope**

##LEGB Rule:
Python follows the LEGB (Local, Enclosing, Global, Built-in) rule to determine the order of searching for names:

* Local: Search in the local namespace (inside the function).
* Enclosing: Search in the enclosing function's namespace (if any).
* Global: Search in the global namespace (top-level of the module or script).
* Built-in: Search in the built-in namespace (Python's built-in names).
If a name is not found in one scope, Python looks for it in the next scope according to the LEGB rule until it either finds the name or reaches the built-in scope.

##Namespace:
A namespace in Python is a mapping from names (identifiers) to objects. It serves as a container for organizing and managing the names of variables, functions, classes, and other objects. Each namespace is unique and isolated from other namespaces, which helps avoid naming conflicts and provides a way to organize code logically.

**Types of Namespaces:**
* Built-in Namespace: Contains built-in functions, exceptions, and objects provided by Python (e.g., print(), len(), TypeError).
* Global Namespace: Contains names defined at the top level of a module or script. Variables and functions defined here are accessible throughout the module or script.
* Local Namespace: Created when a function is called and contains names defined within that function. The local namespace is temporary and exists only during the function's execution

##Scope:
Scope defines the visibility and accessibility of names (variables, functions, etc.) within a program. It determines where names can be accessed and modified.

**Types of scope:**

###Local Scope: Names defined within a function are in the local scope and are accessible only within that function.

In [ ]:
def myfun():
  local_variable = 10
  print(local_variable)

myfun()
#print(local_variable)    # Raises NameError: name 'local_variable' is not defined

10

###Enclosing (Non-local) Scope: If a function is defined inside another function, it has access to names in the enclosing function's scope.

In [ ]:
def outer_function():
    outer_variable = 20

    def inner_function():
        print(outer_variable)

    inner_function()  # Output: 20

outer_function()

20

In [ ]:
def outer():
  x= "local"
  def inner():
    nonlocal x
    x= "nonlocal"
    print("inner",x)
  inner()
  print("outer",x)

outer()

inner nonlocal
outer nonlocal

###Global Scope: Names defined at the top level of a module or script are in the global scope and are accessible throughout the module or script

In [ ]:
global_variable = 30

def my_function():
    print(global_variable)

my_function()  # Output: 30

30

In [ ]:
x = "global"

def fun():
  global x
  y= "local"
  x=x*2

  print(x)
  print(y)

print(x)
fun()
print(x)

global
globalglobal
local
globalglobal

###Built-in Scope: Contains built-in names provided by Python and is accessible from anywhere in the program.

In [ ]:
print(len([1, 2, 3]))  # Output: 3

3

#Python Global keyword

global keyword allows us to modify the variable outside of the current scope. It is used to create a global variable and make changes to the variable in local context.

**Syntax**

```
global variable_name
```

##**How to use global keyword**


*   When we create a variable inside a function, its local by default context

*   When we define a variable outside a function,It's global by default. You dont have to use global keyword.
* We use global keyword to read and write a global variable inside a function.
* Use of global keyword outside a function has no effect

In [ ]:
x = 10

def my_function():
    global x
    x = 20  # This modifies the global variable x
    print("Inside function:", x)

my_function()
print("Outside function:", x)  # Output: "Outside function: 20"

Inside function: 20
Outside function: 20

**Using global with Mutable Objects:**

In [ ]:
my_list = [1, 2, 3]

def modify_list():
    my_list.append(4)  # Modifies the global list without using global keyword
    print("Inside function:", my_list)

modify_list()
print("Outside function:", my_list)  # Output: [1, 2, 3, 4]

Inside function: [1, 2, 3, 4]
Outside function: [1, 2, 3, 4]

#**Iterator in python**

**Iterable vs. Iterator:**

* Iterable: Any object that can be iterated over is considered iterable. Examples include lists, tuples, strings, dictionaries, sets, file objects, and more. Iterables have an __iter__() method that returns an iterator.

* Iterator: An iterator is an object returned by the __iter__() method of an iterable. It implements the __next__() method, which returns the next element in the sequence or raises a StopIteration exception when there are no more elements.

In [ ]:
our_list = [1,2,3,4,5]
our_iter = iter(our_list)

print(our_iter)

print(next(our_iter))
print(next(our_iter))

print(our_iter.__next__())

<list_iterator object at 0x79e1aaf53100>
1
2
3

**Creating Custom Iterators:**
* You can create custom iterators by implementing the __iter__() and __next__() methods in a class.

In [ ]:
class pow_of_two:
  '''Class to represent an iterator of power of two'''
  def __init__(self,max = 0):
    self.max = max

  def __iter__(self):
    self.n = 0
    return self

  def __next__(self):
    if self.n <= self.max:
        result = 2**self.n
        self.n +=1
        return result
    else:
        raise StopIteration

print(pow_of_two.__doc__)
a= pow_of_two(4)
i = iter(a)
print(next(i))
print(i.__next__())
print(next(i))
print(next(i))

Class to represent an iterator of power of two
1
2
4
8

##**Iteration using For**

In [ ]:
#printing all the elements from list

a = [1,2,3,4,5]
for i in a:
  print(i)

1
2
3
4
5

In [ ]:
a = [1,2,3,4,5]
for i in a:
  print(i,end="")

12345

In [ ]:
#Printing all element in range function

for i in range(2,10,2):
  print(i)

2
4
6
8

**Using for loop with else block**

In [ ]:
b= (1,2,3,4,5)
for i in b:
  print(i)
else:
  print("Printing completed")

1
2
3
4
5
invalid

---

#Inheritance in Python

**Base Class (Animal):**
* The Animal class has an __init__ method to initialize the species attribute and a speak method that raises a NotImplementedError. It serves as the base class for all animals.

**Derived Class (Dog):**
* The Dog class inherits from Animal using class Dog(Animal):. It has its own __init__ method to initialize name and breed attributes, and it overrides the speak method inherited from Animal with its own implementation.

**super() Function:**

* In the Dog class, super().__init__("Dog") calls the __init__ method of the parent class (Animal) to initialize the species attribute.

**Method Overriding:**
* The speak method in Dog overrides the speak method in Animal, providing a specific implementation for dogs.

**Creating an Instance (my_dog):**
* We create an instance of Dog with the name "Buddy" and breed "Labrador".

**Accessing Attributes and Methods:**
* We access attributes (species, name, breed) and call the overridden speak method on the my_dog instance, demonstrating the inheritance and overriding behavior.

In [ ]:
class Animal:
    def __init__(self, species):
        self.species = species

    def speak(self):
        raise NotImplementedError("Subclass must implement this method")

class Dog(Animal):
    def __init__(self, name, breed):
        super().__init__("Dog")
        self.name = name
        self.breed = breed

    def speak(self):
        return "Woof!"

# Creating an instance of Dog
my_dog = Dog("Buddy", "Labrador")

# Accessing attributes and methods
print(my_dog.species)  # Output: Dog (inherited from Animal)
print(my_dog.name)     # Output: Buddy
print(my_dog.breed)    # Output: Labrador
print(my_dog.speak())  # Output: Woof! (overrides speak method from Animal)

Dog
Buddy
Labrador
Woof!

**Multiple Inheritance**

In [ ]:
class base1:
  def fun1(self):
    print("function 1 from class base1")

class base2:
  def fun2(self):
    print("function 2 from class base2")

class base3:
  def fun3(self):
    print("function 3 form class base3")

class multiderived(base1,base2,base3):
  def multifun(self):
    print(" multi function from multiderived class")

obj = multiderived()
obj.fun1()
obj.fun2()
obj.fun3()
obj.multifun()

function 1 from class base1
function 2 from class base2
function 3 form class base3
 multi function from multiderived class

**Here's an example to illustrate the usage of the superclass's __init__ method in a subclass:**

In [ ]:
class Animal:
    def __init__(self, species):
        self.species = species
        print(f"Initialized {self.species} animal")

class Dog(Animal):
    def __init__(self, name, breed):
        super().__init__("Dog")  # Call superclass's __init__ to initialize species
        self.name = name
        self.breed = breed
        print(f"{self.name} is a {self.breed} dog")

# Example usage:
my_dog = Dog("Buddy", "Labrador")

Initialized Dog animal
Buddy is a Labrador dog

*In Python, when a class inherits from multiple base classes (multiple inheritance), you can use the super() function to call the __init__ method of a specific superclass. This allows you to control which superclass's __init__ method is called during object initialization. Here's how you can achieve that:*

In [ ]:
class Animal:
    def __init__(self, species):
        self.species = species
        print(f"Initialized {self.species} animal")

class Toy:
    def __init__(self, toy_type):
        self.toy_type = toy_type
        print(f"Initialized {self.toy_type} toy")

class Dog(Animal, Toy):
    def __init__(self, name, breed):
        super(Animal, self).__init__("Dog")  # Call Animal's __init__ method
        self.name = name
        self.breed = breed
        print(f"{self.name} is a {self.breed} dog")

# Example usage:
my_dog = Dog("Buddy", "Labrador")

Initialized Dog toy
Buddy is a Labrador dog

##**Accessing class attribute**

In [ ]:
class Car:
    # Class attribute
    num_wheels = 4

    def __init__(self, make, model):
        self.make = make
        self.model = model

# Accessing class attribute
print(Car.num_wheels)  # Output: 4

# Creating instances of Car class
car1 = Car("Toyota", "Camry")
car2 = Car("Honda", "Civic")

# Accessing class attribute through instances
print(car1.num_wheels)  # Output: 4
print(car2.num_wheels)  # Output: 4

# Modifying class attribute
Car.num_wheels = 6
print(Car.num_wheels)  # Output: 6
print(car1.num_wheels)  # Output: 6 (modified for all instances)
print(car2.num_wheels)  # Output: 6 (modified for all instances)

4
4
4
6
6
6

***You can access class attributes using the __class__ attribute within class methods or instance methods. Here's an example:***

In [ ]:
class Car:
    num_wheels = 4  # Class attribute

    def __init__(self, make, model):
        self.make = make
        self.model = model

    def display_info(self):
        print(f"Make: {self.make}, Model: {self.model}")

    def display_num_wheels(self):
        # Accessing class attribute using __class__.attribute
        print(f"Number of wheels: {self.__class__.num_wheels}")

# Creating instances of Car class
car1 = Car("Toyota", "Camry")
car2 = Car("Honda", "Civic")

# Accessing class attribute using __class__.attribute
print(car1.__class__.num_wheels)  # Output: 4
print(car2.__class__.num_wheels)  # Output: 4

# Calling instance method to display class attribute
car1.display_num_wheels()  # Output: Number of wheels: 4
car2.display_num_wheels()  # Output: Number of wheels: 4

4
4
Number of wheels: 4
Number of wheels: 4

-----

#Python Function

* Function is a group of related statement that perform specific task in our program

* Function implementation breaks our program into smaller and modular chunks.

* Reusability feature helps us to avoid repetition of our program codes

###**Syntax of function**
```
def fun_name(parameter):
  '''Docstring'''
  statements()
  return return_value   #optional
```

#**Python Function Arguments**



1.    **Positional Arguments:**

In [ ]:
def greet(name,message):
  print(f"hello {name} {message}")

greet("nabin","How are you?")

hello nabin How are you?

**2 .Keyword Arguments:**
* Keyword arguments are specified with their corresponding parameter names in the function call.

In [ ]:
def greet(name,message):
  print(f"hello {name} {message}")

greet(message="how are you?", name = "Nabin")

hello Nabin how are you?

**3. Default Arguments:**
* Default arguments have predefined values and are used when a value is not provided in the function call.

In [ ]:
def greet(name, message="are you ok?"):
  print(f"hello {name}, {message}")

greet("nabin")
greet("nabin","how are you?")

hello nabin, are you ok?
hello nabin, how are you?

**4. Variable-Length Arguments (*args):**
* The *args parameter allows a function to accept an arbitrary number of positional arguments as a *tuple*.
* arbirary arguments

In [ ]:
def fun(*args):
  s = sum(args)
  print(s)


fun(1,2,3,4,5)

15

**Variable-Length Keyword Arguments (**kwargs):

In [ ]:
def my_function(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

my_function(name="Alice", age=30, city="New York")

name: Alice
age: 30
city: New York

#Python error and exception
| Exception              | Description                                                                                     |
|------------------------|-------------------------------------------------------------------------------------------------|
| ArithmeticError        | Raised when an error occurs in numeric calculations.                                             |
| AssertionError        | Raised when an assert statement fails.                                                           |
| AttributeError        | Raised when attribute reference or assignment fails.                                              |
| Exception              | Base class for all exceptions.                                                                  |
| EOFError               | Raised when the input() method hits an "end of file" condition (EOF).                            |
| FloatingPointError     | Raised when a floating point calculation fails.                                                   |
| GeneratorExit          | Raised when a generator is closed (with the close() method).                                     |
| ImportError           | Raised when an imported module does not exist.                                                    |
| IndentationError       | Raised when indentation is not correct.                                                          |
| IndexError             | Raised when an index of a sequence does not exist.                                                |
| KeyError              | Raised when a key does not exist in a dictionary.                                                |
| KeyboardInterrupt     | Raised when the user presses Ctrl+C, Ctrl+Z, or Delete.                                          |
| LookupError            | Raised when errors raised can't be found.                                                         |
| MemoryError            | Raised when a program runs out of memory.                                                         |
| NameError             | Raised when a variable does not exist.                                                           |
| NotImplementedError | Raised when an abstract method requires an inherited class to override the method.               |
| OSError                | Raised when a system-related operation causes an error.                                           |
| OverflowError         | Raised when the result of a numeric calculation is too large.                                    |
| ReferenceError        | Raised when a weak reference object does not exist.                                               |
| RuntimeError           | Raised when an error occurs that does not belong to any specific exceptions.                     |
| StopIteration         | Raised when the next() method of an iterator has no further values.                               |
| SyntaxError            | Raised when a syntax error occurs.                                                               |
| TabError               | Raised when indentation consists of tabs or spaces.                                               |
| SystemError            | Raised when a system error occurs.                                                               |
| SystemExit             | Raised when the sys.exit() function is called.                                                    |
| TypeError              | Raised when two different types are combined.                                                     |
| UnboundLocalError      | Raised when a local variable is referenced before assignment.                                     |
| UnicodeError          | Raised when a Unicode problem occurs.                                                             |
| UnicodeEncodeError  | Raised when a Unicode encoding problem occurs.                                                     |
| UnicodeDecodeError | Raised when a Unicode decoding problem occurs.                                                     |
| UnicodeTranslateError | Raised when a Unicode translation problem occurs.                                                 |
| ValueError            | Raised when there is a wrong value in a specified data type.                                      |
| ZeroDivisionError   | Raised when the second operator in a division is zero.                                            |

**ArithmeticError:**
* Raised when an error occurs in numeric calculations.

In [ ]:
try:
    result = 10 / 0  # Division by zero raises ArithmeticError
except ArithmeticError as e:
    print(f"ArithmeticError: {e}")

ArithmeticError: division by zero

**AssertionError:**
* Raised when an assert statement fails.

In [ ]:
try:

   assert 2 + 2 == 5, "Assertion failed: 2 + 2 is not equal to 5"

except AssertionError as e:
  print(e)

Assertion failed: 2 + 2 is not equal to 5

**AttributeError:**
* Raised when attribute reference or assignment fails.

In [ ]:
try:
   class MyClass:
    pass

   obj = MyClass()
   print(obj.attribute)  # Raises AttributeError because 'attribute' does not exist

except AttributeError as e:
  print(e)

'MyClass' object has no attribute 'attribute'

**EOFError:**
* Raised when the input() method hits an "end of file" condition (EOF).

In [ ]:
try:
  user_input = input("enter something ")
except EOFError as e:
  print(e)

enter something dnmngdm

**ZeroDivisionError:**
* Raised when a zero-point calculation fails.

In [ ]:
try:
  a = 1.0 / 0.0
  print(a)
except ZeroDivisionError as e:
  print(e)

float division by zero

#**Try... Exception... finally**

In [ ]:
try:
  print("in try block")
  raise TypeError
except:
  print("int exception block")
finally:
  print("in finally block")

in try block
int exception block
in finally block

##**User defined Exception**

**Explanation:**
* ***Create a Custom Exception Class:*** To define a user-defined exception, you typically create a new class that inherits from the built-in Exception class or one of its subclasses. This custom class can include additional attributes or methods to provide more context about the error.
* ***Raise the Custom Exception:*** You can raise your custom exception using the raise keyword when a specific condition or error occurs in your code.
* ***Catch the Custom Exception:*** Use a try-except block to catch and handle your custom exception or any other exceptions that may arise.

```
class CustomException(Exception):
    def __init__(self, message):
        super().__init__(message)

# Example of using the custom exception:
try:
    raise CustomException("Custom error message")
except CustomException as e:
    print(f"Caught custom exception: {e}")
```

In [ ]:
class votersEligibility(Exception):
  def __init__(self):
    super()

try:
  age = 12

  if age < 18:
    raise votersEligibility
except votersEligibility:
  print(f"error: age is less than 18")

error: age is less than 18

#pyhton OOP approach

In [ ]:
class personalComputer:
  def __init__(self):
    self.maxComputerprice = 20000

  def mysell(self):
    print("the price of computer is: {}".format(self.maxComputerprice))

  def setMaxPrice(self,price):
    self.maxComputerprice = price

  pc = personalComputer()
  pc.mysell()

  pc.maxComputerprice = 30000
  pc.mysell()

  # Using setter function
  pc.setMaxPrice(50000)
  pc.mysell()

the price of computer is: 20000
the price of computer is: 30000
the price of computer is: 50000

#**Nested dictionary implementation**

In [ ]:
people = {
    1: {
        'name':'nabin',
        'age':20
    },
    2: {'name':'roshan',
        'age':23
    }
}

print(people)

{1: {'name': 'nabin', 'age': 20}, 2: {'name': 'roshan', 'age': 23}}

In [ ]:
# Accessing
print(people[1])
print(people[1]['name'])
print(people[1]['age'])
print("\n")

{'name': 'nabin', 'age': 20}
nabin
20

In [ ]:
print(people[2])
print(people[2]['name'])
print(people[2]['age'])

{'name': 'roshan', 'age': 23}
roshan
23

####**Adding elements to dictionary**

In [ ]:
people[3]={}

print(people)

people[3] = {'name':'santosh',
        'age':25
    }
print(people)

{1: {'name': 'nabin', 'age': 20}, 2: {'name': 'roshan', 'age': 23}, 3: {}}
{1: {'name': 'nabin', 'age': 20}, 2: {'name': 'roshan', 'age': 23}, 3: {'name': 'santosh', 'age': 25}}

####**Deleting Elemet from nested dictionary**

In [ ]:
print(people)
del people[3]['age']
print(people)

{1: {'name': 'nabin', 'age': 20}, 2: {'name': 'roshan', 'age': 23}, 3: {'name': 'santosh', 'age': 25}}
{1: {'name': 'nabin', 'age': 20}, 2: {'name': 'roshan', 'age': 23}, 3: {'name': 'santosh'}}

####**Iteration through items**

In [ ]:
print(people.items())

print("\n")
for i,j in people.items():
  print(i)
  print(j)
  print(".............................")
  for key in j:
    print(key + ':', j[key])

dict_items([(1, {'name': 'nabin', 'age': 20}), (2, {'name': 'roshan', 'age': 23}), (3, {'name': 'santosh'})])


1
{'name': 'nabin', 'age': 20}
.............................
name: nabin
age: 20
2
{'name': 'roshan', 'age': 23}
.............................
name: roshan
age: 23
3
{'name': 'santosh'}
.............................
name: santosh

#**Python operator overloading**

In [ ]:
class myPoint:
  def __init__(self,x=0,y=0):
    self.x = x
    self.y = y

  def __str__(self):
    return "({0},{1})".format(self.x,self.y)

  def __add__(self,other):
    x= self.x + other.x
    y= self.y + other.y
    return myPoint(x,y)

  def __lt__(self,other):
    self_mag = (self.x ** 2) + (self.y ** 2)
    other_mag = (other.x **2) + (other.y ** 2)
    return self_mag< other_mag


p1 = myPoint(2,3)
p2 = myPoint(5,6)
print()
print(p1)
print(p2)
print()
print(p1.__add__(p2))
print(p1.__lt__(p2))

(2,3)
(5,6)

(7,9)
True

#Python Generator

####**What is generator ?**
A generator in Python is a special kind of function that returns an iterator object which we can iterate (one value at a time). It allows you to declare a function that behaves like an iterator, i.e., it can be used in a for loop.

####**How to create a generator ?**


*   **Generator Function :** These are the function which uses *yield* keyword.
*   **Generator Expression :** These are similar to list comprehension but uses *Parenthesis* instead of square brackets.

**Genreator functions**

A generator function is defined like normal function but uses *yield* statement to return data.



*   When the generator function is called, it returns a genrerator object wihtout even begining of the execution of the function.

*   When next() is called on the generator, the function executes until it encounters the *Yield* statement, which returns the yielded value.

* The function retains its state and will resume where it left off on the next call to next().

***Note : while calling generator function in for loop, Don't use paranthesis ()***

**Example :**

In [ ]:
def my_generator():
  n= 1
  print("this is first statement.")
  yield n

  n+=1
  print("this is the second statement.")
  yield n

  n+=1
  print("this is the last")
  yield n

a=  my_generator()

next(a)
next(a)
next(a)
print()
for num in my_generator():
  print(num)

this is first statement.
this is the second statement.
this is the last

this is first statement.
1
this is the second statement.
2
this is the last
3

**Generator Expression :**

Generator expressions are similar to list comprehensions but use parentheses instead of square brackets. They provide a compact way to create generators.

In [ ]:
squares_list = [x**2 for x in range(10)]

squares_gen = (x**2 for x in range(10))

print(squares_list)
print()

for square in squares_gen:
  print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

0
1
4
9
16
25
36
49
64
81

####**Benefits of Generators**



*   **Memory Efficiency :** Generators are more memory-efficient than lists, especially for large data sets, because they generate items on-the-fly and do not store the entire sequence in memory.
*   **Lazy Evaluation :** Generators compute values only when needed. This is known as lazy evaluation.

*  **Maintain State :** Generators can maintain state between yields , which can be useful for complex algorithms.

###**Handling StopIteration**
When the generator has no more values to yield, it raises a StopIteration exception. This is handled automatically in a for loop but can also be caught manually:

In [ ]:
def simple_generator():
  yield 1
  yield 2
  yield 3

gen = simple_generator()

while True:
  try:
    value = next(gen)
    print(value)
  except StopIteration:
    break

1
2
3

#**Python Decorators**

####**What is Decorators ?**

A decorator is a function that takes another function as an argument and extends or alters its behaviour. Decorators are oftern used for logging, access control, instrumentation, caching, and other cross-cutting concerns.


***Note : In Python, decorators are typically defined using the @ symbol above the function to be decorated.***

In [ ]:
def make_decorated(func):
  def inner_func():
    print("before decorated.")
    func()

    print("after decorated.")
  return inner_func

@make_decorated
def simple_func():
  print("message from decorated function.")

simple_func()

before decorated.
message from decorated function.
after decorated.

####**Function wrapper and arguments :**

In [ ]:
def my_smart_div(func):
  def inner_funct(x,y):
    print("i am dividing ",x," and ",y)
    if y==0:
      print("y cannot be zero.")
      return
    return func(x,y)
  return inner_funct


@my_smart_div
def simp_div(a,b):
  return a/b

print(simp_div(10,5))

i am dividing  10  and  5
2.0

####**Using Mulltiple decorator**

In [ ]:
def decorator1(func):
  def wrapper():
    print("decorator 1")
    func()
    print("decorator 1 end")
  return wrapper

def decorator2(func):
  def wrapper():
    print("decorator 2")
    func()
    print("decorator 2 end")
  return wrapper


@decorator1
@decorator2
def say_hello():
  print("hello world")


say_hello()

decorator 1
decorator 2
hello world
decorator 2 end
decorator 1 end

**Explanation :**

When we have

```
@decorator1
@decorator2
def say_hello():
  print("hello")
```

It's equivalent to:

```
def say_hello():
  print("hello")

say_hello = decorator1(decorator2(say_hello))
```

**Execution Flow**


*   say_hello( ) (which is wrapper from decorator1)
  * prints "decorator1"
  * Calls wrapper from decorator2
     *  Prints "Decorator 2"
     *  Calls original `say hello`
       *  prints "hello"
     *  Prints "decorator2 end"
  *  Prints "decorator 2 end"

####**Decorators With Arguments**

Sometimes you need to pass arguments to your decorator. TO do this, you need to create a *decorator factory function* that takes arguments and returns a decorator.

In [ ]:
def repeat(num_times):
  def decorator(func):
    def wrapper(*args,**kwargs):
      for _ in range(num_times):
        func(*args, **kwargs)
    return wrapper
  return decorator

@repeat(3)
def say_hello():
  print("hello!")


say_hello()

hello!
hello!
hello!

####**Real world example**

In [ ]:
import logging


def log(func):
  def wrapper(*args,**kwargs):
    logging.info(f'Running {func.__name__} with args {args} and kwargs{kwargs}')
    return func(*args, **kwargs)
  return wrapper


@log
def add(x,y):
  return x+y


logging.basicConfig(level=logging.INFO)

if __name__ == "__main__":
  print(add(5,3))

8

####**Preserving Function Metadata**

Using functools.wraps ensures the decorated function retains its name, docstring, and other metadata.

In [ ]:
import functools

def my_decorator(func):
    @functools.wraps(func)
    def wrapper(*args, **kwargs):
        print("Something is happening before the function is called.")
        result = func(*args, **kwargs)
        print("Something is happening after the function is called.")
        return result
    return wrapper

@my_decorator
def say_hello():
    """This is a docstring for say_hello function."""
    print("Hello!")

say_hello()
print(say_hello.__name__)
print(say_hello.__doc__)

Something is happening before the function is called.
Hello!
Something is happening after the function is called.
say_hello
This is a docstring for say_hello function.

#**Python matrix implementation**


1.   Using Nested List
2.   Using NumPy
3.   Using the `matrix` class from NumPy

####**Using Nested List :**

In [ ]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]

print(matrix)


# This is invalid matrix because it has not equal number of element in list
invalid_matrix = [[1,2,3],[4,5],[6,7,8]]
print()

print(invalid_matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

[[1, 2, 3], [4, 5], [6, 7, 8]]

###**Creating a Dynamic Matrix**

####**initializing empty matrix**

In [ ]:
matrix = []
print(matrix)

# Adding rows dynamically
matrix.append([1, 2, 3])
matrix.append([4, 5, 6])
matrix.append([7, 8, 9])

print(matrix)

[]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

####**Adding rows**

In [ ]:
new_row = [10,12,13]

matrix.append(new_row)

print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 12, 13]]

####**Adding a column**

In [ ]:
new_column = [14,15,16,17]

for i in range(len(matrix)):
  matrix[i].append(new_column[i])

print(matrix)

[[1, 2, 3, 14], [4, 5, 6, 15], [7, 8, 9, 16], [10, 12, 13, 17]]

####**Removing Rows dynamically**

In [ ]:
matrix.pop()
print(matrix)

[[1, 2, 3, 14], [4, 5, 6, 15], [7, 8, 9, 16]]

####**Removing column dynamically**

In [ ]:
for row in matrix:
  row.pop()

print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

####**Creating Dynamic matirx using for loop**

In [ ]:
n=3
m=4

a= [0] * n
print(a)

for i in range(n):
  a[i] = [0] * m

print(a)

[0, 0, 0]
[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

#**regExp in python**

Regular expressions (regex or regexp) in python are very powerful tools for matching patterns in strings. They are used for searching, matching and manipulating text based on specific patterns.

###**Basic of Regular Expression**

In [ ]:
import re

In [ ]:
pattern = r'hello'
text = 'hello world'

match = re.search(pattern,text)

if match:
  print('match found: ', match.group())
else:
  print("no match found")

match found:  hello

####**special Character in Regx**


- `.`: Matches any single character except newline.
- `^`: Matches the start of the string.
- `$`: Matches the end of the string.
- `*`: Matches 0 or more repetitions of the preceding element.
- `+`: Matches 1 or more repetitions of the preceding element.
- `?`: Matches 0 or 1 repetition of the preceding element.
- `{n}`: Matches exactly n repetitions of the preceding element.
- `{n,}`: Matches n or more repetitions of the preceding element.
- `{n,m}`: Matches between n and m repetitions of the preceding element.
- `[]`: Matches any one of the characters inside the brackets.
- `\`: Escapes special characters or signals a special sequence.

**`.` : Matches any single character except newline.**

In [ ]:
import re

pattern = r'a.c'
text = 'abc, adc, a_c, axc'
matches = re.findall(pattern, text)
print(matches)  # Output: ['abc', 'adc', 'a_c', 'axc']

['abc', 'adc', 'a_c', 'axc']

**`^` : Matches the start of the string.**

In [ ]:
import re

pattern = r'^hello'
text = 'hello world, hello there'
matches = re.findall(pattern, text)
print(matches)  # Output: ['hello']

['hello']

**`$` : Matches the end of the string.**

In [ ]:
import re

pattern = r'world$'
text = 'hello world, goodbye world'
matches = re.findall(pattern, text)
print(matches)  # Output: ['world']

['world']

**`*` : Matches 0 or more repetitions of the preceding element.**

In [ ]:
import re

pattern = r'go*d'
text = 'good, god, gd, goood, gooood'
matches = re.findall(pattern, text)
print(matches)  # Output: ['god', 'goood', 'gooood']

['good', 'god', 'gd', 'goood', 'gooood']

**`+` : Matches 1 or more repetitions of the preceding element.

In [ ]:
import re

pattern = r'go+d'
text = 'god, good, gd, goood, gooood'
matches = re.findall(pattern, text)
print(matches)  # Output: ['good', 'goood', 'gooood']

['god', 'good', 'goood', 'gooood']

**`?` : Matches 0 or 1 repetition of the preceding element.**

In [ ]:
import re

pattern = r'go?d'
text = 'god, good, gd, goood, gooood'
matches = re.findall(pattern, text)
print(matches)  # Output: ['god', 'good', 'gd']

**`{n}` : Matches exactly n repetitions of the preceding element.**

In [ ]:
import re

pattern = r'o{2}'
text = 'good, god, gd, goood, gooood'
matches = re.findall(pattern, text)
print(matches)  # Output: ['oo', 'oo', 'oo']

['oo', 'oo', 'oo', 'oo']

**`{n,}` : Matches n or more repetitions of the preceding element.**

In [ ]:
import re

pattern = r'o{2,}'
text = 'good, god, gd, goood, gooood'
matches = re.findall(pattern, text)
print(matches)  # Output: ['oo', 'oo', 'oo']

['oo', 'ooo', 'oooo']

**`{n,m}` : Matches between n and m repetitions of the preceding element.**

In [ ]:
import re

pattern = r'o{1,2}'
text = 'good, god, gd, goood, gooood'
matches = re.findall(pattern, text)
print(matches)  # Output: ['o', 'oo', 'oo']

['oo', 'o', 'oo', 'o', 'oo', 'oo']

**`[]` : Matches any one of the characters inside the brackets.**

In [ ]:
import re

pattern = r'[aeiou]'
text = 'apple, orange, banana'
matches = re.findall(pattern, text)
print(matches)  # Output: ['a', 'e', 'o', 'a', 'e', 'a', 'a']

['a', 'e', 'o', 'a', 'e', 'a', 'a', 'a']

#####Escape sequence characters:

**`\` : Escapes special characters or signals a special sequence.**

### Escape Sequences in Regular Expressions

- **`\d`**: Matches any digit, equivalent to `[0-9]`.
  - **Example**: `\d` matches `1`, `2`, etc. in the string `a1b2c3`.

- **`\D`**: Matches any non-digit character, equivalent to `[^0-9]`.
  - **Example**: `\D` matches `a`, `b`, `c`, etc. in the string `a1b2c3`.

- **`\w`**: Matches any word character (alphanumeric character plus underscore), equivalent to `[a-zA-Z0-9_]`.
  - **Example**: `\w` matches `a`, `1`, `_`, etc. in the string `a_1b2`.

- **`\W`**: Matches any non-word character, equivalent to `[^a-zA-Z0-9_]`.
  - **Example**: `\W` matches `!`, `@`, `#`, etc. in the string `a!b@c#`.

- **`\s`**: Matches any whitespace character (spaces, tabs, newlines).
  - **Example**: `\s` matches space in the string `a b`.

- **`\S`**: Matches any non-whitespace character.
  - **Example**: `\S` matches `a`, `b`, `1`, etc. in the string `a b1`.

- **`\b`**: Matches a word boundary.
  - **Example**: `\bword\b` matches `word` in the string `word.` but not `sword`.

- **`\B`**: Matches a non-word boundary.
  - **Example**: `\Bword` matches `word` in the string `sword`.

- **`\A`**: Matches the start of the string.
  - **Example**: `\AThe` matches `The` in the string `The quick brown fox`.

- **`\Z`**: Matches the end of the string.
  - **Example**: `fox\Z` matches `fox` in the string `The quick brown fox`.

- **`\G`**: Matches the position where the previous match ended.
  - **Example**: `\Gabc` after matching `abc` would match `abc` again in the string `abcabc`.

- **`\n`**: Matches a newline character.
  - **Example**: `\n` matches a newline in the string `a\nb`.

- **`\r`**: Matches a carriage return character.
  - **Example**: `\r` matches a carriage return in the string `a\rb`.

- **`\t`**: Matches a tab character.
  - **Example**: `\t` matches a tab in the string `a\tb`.

- **`\v`**: Matches a vertical tab character.
  - **Example**: `\v` matches a vertical tab in the string `a\vb`.

- **`\f`**: Matches a form feed character.
  - **Example**: `\f` matches a form feed in the string `a\fb`.

- **`\xhh`**: Matches the character with the hex value `hh`.
  - **Example**: `\x41` matches `A` (ASCII value 65).

- **`\uhhhh`**: Matches the Unicode character with the hex value `hhhh`.
  - **Example**: `\u00A9` matches ``.

- **`\Uhhhhhhhh`**: Matches the Unicode character with the 32-bit hex value `hhhhhhhh`.
  - **Example**: `\U0001F600` matches  (Unicode U+1F600).

- **`\ooo`**: Matches the character with the octal value `ooo`.
  - **Example**: `\101` matches `A` (ASCII value 65).

- **`\0`**: Matches the null character.
  - **Example**: `\0` matches the null character in a string.

In [ ]:
import re

pattern = r'\d+'
text = '123, abc, 456, def'
matches = re.findall(pattern, text)
print(matches)  # Output: ['123', '456']

['123', '456']

###**Advance concepts**

####Groups and Capturing

Parentheses () are used to group parts of the pattern and capture the matched content.

In [ ]:
pattern = r'(hello) (world)'

text = "hello world"

match = re.search(pattern,text)

if match:
  print(match.group(0))
  print(match.group(1))
  print(match.group(2))

hello world
hello
world

####Named groups

Named groups allow you to assign a name to a group for easier access.

In [ ]:
pattern = r'(?P<greeting>hello) (?P<place>world)'

text = 'hello world'

match = re.search(pattern,text)

if match:
  print("Greeting: ", match.group('greeting'))
  print("Place: ", match.group('place'))

Greeting:  hello
Place:  world

####Non-capturing group

Use `(?:...)` to create non-capturing groups.

In [ ]:
pattern = r'(?:hello) (world)'
text = 'hello world'
match = re.search(pattern, text)
if match:
    print('Match found:', match.group(0))
    print('Group 1:', match.group(1))
# Output:
# Match found: hello world
# Group 1: world

Match found: hello world
Group 1: world

####Lookahead and Lookbehind

#####**Positive Lookahead**

 `(?=...)` :  Asserts that what follows the current position matches the pattern.**

In [ ]:
pattern = r'hello(?= world)'
text = 'hello world'
match = re.search(pattern, text)
if match:
    print('Match found:', match.group())
# Output: Match found: hello

####**Negative Lookahead**

 `(?!...)` : Asserts that what follows the current position does not match the pattern.

In [ ]:
pattern = r'hello(?! world)'
text = 'hello there'
match = re.search(pattern, text)
if match:
    print('Match found:', match.group())
# Output: Match found: hello

Match found: hello

####**Positive Lookbehind**
 `(?<=...)` : Asserts that what precedes the current position matches the pattern.

In [ ]:
pattern = r'(?<=hello )world'
text = 'hello world'
match = re.search(pattern, text)
if match:
    print('Match found:', match.group())
# Output: Match found: world

Match found: world

####**Negative Lookbehind**

 `(?<!...)` : Asserts that what precedes the current position does not match the pattern.

In [ ]:
pattern = r'(?<!hello )world'
text = 'hi world'
match = re.search(pattern, text)
if match:
    print('Match found:', match.group())
# Output: Match found: world

Match found: world

###**Common `re` Module function**

`re.search()`

In [ ]:
import re

match = re.search(r'world', 'hello world')

if match:
  print('Match found:', match.group())

Match found: world

`re.match()` : Matches the patterns only at the beginning of the string

In [ ]:
match = re.match(r'hello','hello world')

if match:
  print('Match found: ', match.group())

Match found:  hello

`re.fullmatch()` : Matches the pattern to the entire string.

In [ ]:
match = re.fullmatch(r'hello world', 'hello world')
print(match)

if  match:
  print('Match found: ', match.group())

<re.Match object; span=(0, 11), match='hello world'>
Match found:  hello world

`re.findall()` : Returns the list of all matches of the pattern in the string.

In [ ]:
matches = re.findall(r'\d+', '123 abc 89d 456')
print(matches)

['123', '89', '456']

`re.finditer()` : Returns an iterator yielding match objects for all matches of the patterns in the string

In [ ]:
matches = re.finditer(r'\d+', '123 abc 89d 456')

for matchh in matches:

   print(matchh.group())

123
89
456

`re.sub()` : Substitutes occurrences of the pattern with a replacement string

*   `re.sub(pattern, replacement, string)` is used to replace occurrences of pattern in `string` with `replacement`.

In [ ]:
result = re.sub(r'\d+', '#', '123 abc 456 def 789')

print(result)

# abc # def #

`re.split()` : Splits the string by occurrences of the pattern

In [ ]:
result = re.split(r'\s+', 'Hello world! this is a test.')
print(result)

['Hello', 'world!', 'this', 'is', 'a', 'test.']

####***flags***

flags modify the behaviour of regex matching.

*   `re.IGNORECASE` OR `re.I` : Ignore case.
*   `re.MULTILINE` Or `re.M` : Treats `^` and `$` as the start and end of each line.
*   `re.DOTALL` or `re.S` : Allows `.` to match newline characters.
*   `re.VERBOSE` or `re.X` : Allows verbose regex with comments and spacing.

In [ ]:
import re

pattern = r'hello\s+world'
text = 'Hello   world'
match = re.search(pattern, text, re.IGNORECASE | re.VERBOSE)
if match:
    print('Match found:', match.group())

Match found: Hello   world

**Explanation**

**Importing the `re` module**:

- The `re` module provides support for regular expressions in Python.

**Pattern `r'hello\s+world'`**:

- `hello`: Matches the literal string "hello".
- `\s+`: Matches one or more whitespace characters. This includes spaces, tabs, and newlines.
- `world`: Matches the literal string "world".

**String `text`**:

- The string `'Hello   world'` is the text we are searching for the pattern in.

**Using `re.search`**:

- `re.search(pattern, string, flags)` searches for the pattern in the string. If a match is found, it returns a match object; otherwise, it returns `None`.
- `flags`: Optional argument to modify the behavior of the pattern matching. Here, two flags are used:
  - `re.IGNORECASE`: Makes the pattern matching case-insensitive.
  - `re.VERBOSE`: Allows the pattern to be more readable by allowing whitespace and comments within the pattern.

**Combining flags**:

- Multiple flags can be combined using the bitwise OR operator (`|`).

##Email address checking

In [ ]:
import re

#-------------problem-------------
# create a Regex that matches email address  from list
# 1.  1 to 20 lowercase and uppercase letters, numbers, plus ._%+-
# 2.  An @ symbol
# 3.  2 to 20 Lowercase and uppercase Letters, numbers, plus .-
# 4.  A period
# 5. 2 to 3 lowercase and uppercase Letters


emailList = "db@aol.com m@.com @apple.com @sb@.com"

print("Email mathches: ",len(re.findall("[\w._%+-]{1,20}@[\w.-]{2,20}.[A-Za-z]{2,3}",emailList)))

print("Email Matches: ", re.findall("[\w._%+-]{1,20}@[\w.-]{2,20}.[A-Za-z]{2,3}",emailList))

Email mathches:  1
Email Matches:  ['db@aol.com']

#Python file handling

| Mode  | Description                                                                                                         |
|-------|---------------------------------------------------------------------------------------------------------------------|
| 'r'   | Opens the file for reading.                                                                                         |
| 'w'   | Opens the file for writing; truncates the file if it exists or creates a new file.                                 |
| 'a'   | Opens the file for appending; creates a new file if it doesn't exist.                                              |
| 'rb'  | Opens the file for reading in binary mode.                                                                          |
| 'wb'  | Opens the file for writing in binary mode; truncates the file if it exists or creates a new file.                  |
| 'ab'  | Opens the file for appending in binary mode; creates a new file if it doesn't exist.                               |
| 'r+'  | Opens the file for reading and writing; file must exist.                                                            |
| 'w+'  | Opens the file for reading and writing; truncates the file if it exists or creates a new file.                     |
| 'a+'  | Opens the file for reading and appending; creates a new file if it doesn't exist.                                  |
| 'x'   | Opens the file for exclusive creation; creates a new file and fails if the file already exists.                    |
| 'xb'  | Opens the file for exclusive creation in binary mode; creates a new file and fails if it already exists.           |
| 'x+'  | Opens the file for exclusive creation for reading and writing; creates a new file and fails if it already exists.  |
| 'x+b' | Opens the file for exclusive creation for reading and writing in binary mode; creates a new file and fails if it already exists. |

**Reading from a file**



*  **opening a file :**  Use the `open()` function to open a file in various modes like read mode ('r'), write mode ('w'), append mode ('a'), etc.

In [ ]:
file = open('example.txt', 'r')
print(file)

<_io.TextIOWrapper name='example.txt' mode='r' encoding='UTF-8'>

####**Reading Method :**

*  **`read( )`** : Reads the entire file content into a string.

In [ ]:
content = file.read()
print(content)

Hello worldLine 1
Line 2

*  **`readline( )`** : Reads the single line from the file.

In [ ]:
line = file.readline()
print(line)

*  **`readlines()`** : Reads all lines of the file into a list

In [ ]:
lines = file.readlines()
print(lines)

[]

###**Writing to a file**

*  **Opening a file:** Open the file in write mode `('w')` to write to it.  If the file doesn't exist, it will be created.

In [ ]:
file = open('example.txt', 'w')

###**Writing Methods :**

*  **`write( )`** : Writes a string to a file.

In [ ]:
file.write("Hello world")

11

*  `writelines( )` : Writes a list of strings to the file.

In [ ]:
lines = ["Line 1\n", "Line 2\n"]
file.writelines(lines)

####**closing a file**

In [ ]:
file.close()

##**Context Manager (Recommended)**

Use the `with` statement to automatically close the file after operations, ensuring proper file handling and resource management.

In [ ]:
with open('example.txt','r') as file:
  content = file.read()

In [ ]:
with open('output.txt','w') as file:
  file.write("heyyy")

#**Shallow copy and Deep copy**

In [ ]:
list1= [[1,2,3],[4,5,6],[7,8,9]]
list2= list1
print("list1 --> " , list1)
print("list2 --> ", list2)

list1.append([10,11,12])
print("list1 --> " , list1)
print("list2 --> ", list2)

list1 -->  [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
list2 -->  [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
list1 -->  [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]
list2 -->  [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]

####**Creating a copy using shallow copy**

###**Shallow copy**

A shallow copy creates a new object, but does not create copies of the objects that the original object references. Instead, it simply copies the references to those objects. This means that changes made to mutable objects within the copied object will reflect in the original object as well.

In [ ]:
import copy

old_list = [[1,2,3],[4,5,6],[7,8,9]]
new_list = copy.copy(old_list)

print("old list --> ",old_list)
print("new list --> ",new_list)

old list -->  [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
new list -->  [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
old_list.append([4,4,4])
print("old list --> ",old_list)
print("new list --> ",new_list)

old list -->  [[1, 2, 3], [4, 5, 6], [7, 8, 9], [4, 4, 4]]
new list -->  [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
old_list[1][1] = "AA"

print("old list --> ",old_list)
print("new list --> ",new_list)

old list -->  [[1, 2, 3], [4, 'AA', 6], [7, 8, 9], [4, 4, 4]]
new list -->  [[1, 2, 3], [4, 'AA', 6], [7, 8, 9]]

###**deep copy**


A deep copy creates a new object and recursively copies all objects found within the original object. This means that changes made to the deep copied object do not affect the original object.

In [ ]:
import copy

old = [[1,1,1],[2,2,2],[3,3,3]]
new = copy.deepcopy(old)

print(old)
print(new)

[[1, 1, 1], [2, 2, 2], [3, 3, 3]]
[[1, 1, 1], [2, 2, 2], [3, 3, 3]]

In [ ]:
# Adding a new nested object in the list using deep copy

old[1][0] = 'BB'
print(old)
print(new)

[[1, 1, 1], ['BB', 2, 2], [3, 3, 3]]
[[1, 1, 1], [2, 2, 2], [3, 3, 3]]

#**Lambda function**

Lambda functions in Python are small, anonymous functions defined with the lambda keyword. They are useful for creating quick, throwaway functions without the need to formally define a function using the def keyword.

**Key Characteristics**

*  **Anonymous :** Lambda functions are not bound to a name.
*  **Single Expression :** They consist of a single expression.
*  **Simple :** They are used for simple operations.

**syntax :**

```
lambda arguments: expression
```

In [ ]:
add_10 = lambda x : x + 10
print(add_10(5))

multiply = lambda x,y : x * y
print(multiply(2,3))

15
6

###**Use Cases**

*  **Sorting :**  Lambda functions can be used as key functions in sorting.

In [ ]:
points = [(6,9),(4,5),(6,7)]

points.sort(key=lambda point: point[1])
print(points)

[(4, 5), (6, 7), (6, 9)]

*   **Map, Filter, and Reduce:**
   *  **Map :** Applies a function to all items in an input list.

In [ ]:
numbers = [1,2,3,4]
squared = list(map(lambda x: x **2, numbers))

print(squared)

[1, 4, 9, 16]

- **`map(function, iterable)`**: The `map` function applies a given function to each item in an iterable (in this case, the `numbers` list).


- **`lambda x: x ** 2`**: This is a lambda function that takes an argument `x` and returns `x` squared (i.e., `x` to the power of 2).


- **`map(lambda x: x ** 2, numbers)`**: This expression applies the lambda function to each item in the `numbers` list.


- The `map` function returns a map object, which is an iterator. To convert this to a list, we wrap the `map` function call with `list()`.

*   **Filter :**

In [ ]:
numbers = [1, 2, 3, 4, 5, 6]
even = list(filter(lambda x: x % 2 == 0, numbers))
print(even)

[2, 4, 6]

*   **Reduce :** Reduces the input list to a single value.

In [ ]:
from functools import reduce

numbers = [1, 2, 3, 4]
product = reduce(lambda x, y: x * y, numbers)
print(product)  # Output: 24

24

#**Python @property**

In [ ]:
class Celsius:
  def __init__(self,temperature = 0):
    self._temperature = temperature


  def to_farhenheit(self):
    return (self._temperature * 1.8) + 32

  @property
  def temperature(self):
    print("getting value")
    return self._temperature

  @temperature.setter
  def temperature(self,value):
    if value < -273:
      raise ValueError("Temperature below -273 is not possible")
    print("setting value")
    self._temperature = value

c= Celsius(5)
print(c.temperature)

c.temperature = 100
print(c.temperature)

getting value
5
setting value
getting value
100

In [ ]:
class Circle:
    def __init__(self, radius):
        self._radius = radius

    @property
    def radius(self):
        return self._radius

    @radius.setter
    def radius(self, value):
        if value <= 0:
            raise ValueError("Radius must be positive")
        self._radius = value

    @radius.deleter
    def radius(self):
        del self._radius

In [ ]:
circle = Circle(5)
print(circle.radius)  # Output: 5

5

**Setter Method**

In [ ]:
circle.radius = 10
print(circle.radius)  # Output: 10

10